[2016-09-27 15:57] acorbi commented on #486
@prustar I'll wait for your confirmation before I do the change which will consist on:

- [ ] Adding the new taxonomic terms to the taxonomy on https://github.com/OpenDevelopmentMekong/odm-taxonomy. This will involve creating a new version 1.2 of the taxonomy

- [ ] Adding the new terms into the corresponding Transifex project for translation

- [ ] Updating the graphic on https://wiki.opendevelop

[2016-09-27 16:16] acorbi commented on #490
This belongs on https://github.com/OpenDevelopmentMekong/wpckan/issues/180

[2016-09-27 16:16] #490 closed

[2016-09-27 16:42] prustar commented on #486
@DBishton and @acorbi -

I've just gone through the google docs in detail and I truly don't understand the logic as it doesn't flow as well as it used to. Perhaps you did this so that it would fit into the exisiting taxonomy but there is a lot of material and data that is available so we should try to use as much of it as possible. The original document that was vetted by experts and what I had be

[2016-09-27 16:46] prustar commented on #486
I left out the water rights so this should go under the Water Governance section:

1st - WATER
2nd - Water Resources
3rd - Rain and Snow
3rd - Surface water
4th - (Marine and Coastal Areas)
4th - Rivers
5th - The Mekong
4th - (Lakes)
5th - (Tonle Sap)
5th - (Inle Sap)
3rd - Ground water

2nd - Human Demands and Implications

2nd - (Water Governance)
3rd - Trends and challenges
3rd - (Water Policy

[2016-09-28 03:10] DoLinh commented on #455
Hi Alex,

Pls help me send the original file of ODV logo for language replacement. We
can handle this quickly.

Best,

Linh

On Mon, Sep 26, 2016 at 6:59 PM, Alex Corbi <notifications@github.com>
wrote:

--

------------------------------
*This communication, together with any attachment, may contain confidential
information and/or copyright material and is intended only for the
person(s) to whom

[2016-09-28 06:16] #465 closed

[2016-09-28 07:27] acorbi commented on #455
HI @DoLinh , the only logo we have is available on https://wiki.opendevelopmentmekong.net/public:graphics

For the localized logo, you can send take ODC's localized logo as reference and send me back your version. Please respect the dimensions of the image, the format (PNG with transparent background), the font style and the clours:

![odc-khmer-name](https://cloud.githubusercontent.com/assets/384

[2016-09-28 09:05] yanoak commented on #455
@acorbi @gimmemochi hey guys, for Phandeeyar I think we would like to consult with our team first on design and branding issues. My feeling is that we would not want to have a local language logo but will confirm.

[2016-09-28 09:30] prustar commented on #486
@acorbi - Please implement these changes to water Taxonomy.

1st - WATER
  2nd - Water Resources
     3rd - Rain and Snow
     3rd - Surface water
          4th - (Marine and Coastal Areas)
          4th - Rivers and Deltas
                   5th - The Mekong
          4th - (Lakes)
                  5th - (Tonle Sap)
                  5th - (Inle Sap)
    3rd - Ground water

2nd - Human Demands a

[2016-09-28 09:42] Huyeng commented on #473
@prustar, I would like to suggest to add the stroke in geoserver or Cartodb instead.
Fixing by code can affect to other map layers.

[2016-09-28 09:45] Huyeng commented on #485
This issue will be fixed during working on this issue https://github.com/OpenDevelopmentMekong/wp-odm_theme/issues/465

[2016-09-28 09:58] #483 closed

[2016-09-28 10:04] Huyeng commented on #470
Embedding single layer has not set yet.
Yes, time is required to implement this.

[2016-09-28 10:05] acorbi commented on #470
OK, we will then estimate this **feature request** separately, let's focus on the more critical map issues by now

[2016-09-28 10:12] acorbi opened #493 "Popup "ghosts" on thematic maps when WMS base layer is loaded"
Allthough the **news icons** are disabled by default, once enabled, although they are not visible. they are clicable and therefore a popup "ghost" appears as seen in the screenshot:

![screenshot from 2016-09-28 11-56-47](https://cloud.githubusercontent.com/assets/384894/18909457/fae4bb9c-8573-11e6-8273-c5d3a08c97b4.png)

Steps to reproduce:
1. go to thematic map, example: https://pp.opendevelopme

[2016-09-28 10:25] acorbi commented on #486
@prustar @DBishton I see a challenge here.

On your last comment @prustar indicates that a new LEVEL1 category **Water** should be created containing 3 LEVEL2 terms: Water Resources , Human Demands and Implications and Water Governance

the problem relies on the fact that **Water resources** is already part of the taxonomic structure, as a LEVEL2 term under the LEVEL1 term **Environment and natura

[2016-09-28 10:38] DBishton commented on #486
@acorbi That is potentially significant. As @prustar and I had discussed on our call, I have interpreted the 'water resources' category in a broader sense, and she as specifically related to a physical sense -- i.e. the types of content I would categorise under 'water resources' would now be under 'water'. This definitely has implications for content currently tagged with 'water resources', relate

[2016-09-28 11:45] Huyeng commented on #493
It is not caused show news function, but because of the landsat base layer.
If landsat is not enable, the info-window won't appear that because landsat is not the title layer, but wms layer.

[2016-09-28 12:16] DBishton commented on #486
@acorbi A quick note on new categories -- please make sure they conform to style standards -- only first words and proper nouns should be capitalised.

E.g. "Water resources" not "Water Resources"

Note -- "The Mekong" should remain as suggested above, that is a proper noun.

[2016-09-28 12:52] acorbi commented on #486
ok @DBishton working on drafting the implementation now...

[2016-09-28 12:58] acorbi commented on #493
@Huyeng ok, understood! Indeed the issue can be reproduced by just:

1. go to thematic map, example: https://pp.opendevelopmentmekong.net/maps/water-resources/#!/story=post-2248035&loc=11.556725775618903,105.31082153320312,10
2. Load landsat base layer
3. Click on any position on the map. pop-up ghost appears

[2016-09-28 12:59] #487 closed

[2016-09-28 14:39] acorbi opened #495 "Implement support for carto torque maps on map explorer / thematic maps"
Cartodb layers which uses the **torque** time-series visualization (see screenshot) cannot be enabled in the map explorer or thematic maps.

![screenshot from 2016-09-28 16-39-23](https://cloud.githubusercontent.com/assets/384894/18918143/22c865fc-859a-11e6-8620-c04263a866c1.png)

When selected on map explorer, javascript error appears.

![screenshot from 2016-09-28 16-39-08](https://cloud.githubu

[2016-09-28 14:52] Huyeng commented on #493
@pyrou, does it require to have popup info for the raster layer?
@alex, It seems to me that pop-up is working fine with the vector layer that content the feature information.
I would like to suggest to create the baselayer as tile instead of the wms.

[2016-09-28 14:56] Huyeng commented on #493
@Pyrou, please be inform that the Landsat layer was changed to tile format on PROD now, and the error has gone. If you would like to use the wms, it can fix after holiday because I have to join the training for full day, and then holiday.

[2016-09-28 14:58] acorbi commented on #493
@Huyeng good workaround. :+1: Let's keep this Issue open for fixing it at a later point. thanks huyeng

[2016-09-29 08:15] acorbi commented on #486
@prustar @DBishton after discussions, this is the structure that is going to be implemented:

[code]

[2016-09-29 10:43] prustar commented on #486
@DBishton @acorbi -

LEVEL2 - Water
  LEVEL3 - Water resources
     LEVEL4 - Rain and snow
     LEVEL4 - Surface water
          LEVEL5 - Marine and coastal areas
          LEVEL5 - Rivers and lakes
     LEVEL4 - Ground water

  LEVEL3 - Human demands and implications

  LEVEL3 - Water governance
     LEVEL4 - Trends and challenges
     LEVEL4 - Water policy and administration
     LEVEL4 - Rights

[2016-09-29 11:08] DBishton commented on #486
@prustar I don't see an issue with these suggestions except I'd like to
understand the difference you have in mindbetween "water governance" and
"water policy and administration".

As with "Water" and "water resources" -- these new categories are more
precise and require some rejigging of existing content. As "policy and
admin" was the category covering the governance issue previously -- I would
b

[2016-09-29 12:14] prustar commented on #485
@Huyeng @acorbi -- when I loaded into PP the water resource map and toggle the baselayers - the news items come up still:

![image](https://cloud.githubusercontent.com/assets/14996905/18953453/d1313fce-864e-11e6-88d7-9d37a03729a0.png)
![image](https://cloud.githubusercontent.com/assets/14996905/18953468/e576d7a0-864e-11e6-9316-29d6ef9a4903.png)

I decided not to combine the base layers as there is

[2016-09-29 12:38] acorbi commented on #485
@prustar I cannot reproduce it on my machine. have you re-loaded the site with CTRL+F5?
@Huyeng can you reproduce it?

[2016-09-29 13:17] acorbi opened #496 "Fullscreen mode not working on embedded thematic maps"
On thematic maps such as https://pp.opendevelopmentmekong.net/topics/rivers-and-lakes/, when clicking the fullscreen button, the map does not cover all the screen. It just covers all the iframe which does not have any effect.

![screenshot from 2016-09-29 15-15-27](https://cloud.githubusercontent.com/assets/384894/18955432/c41308c8-8657-11e6-922b-87d19776416c.png)

If implementing this is not poss

[2016-09-29 14:57] acorbi commented on #486
Changes implemented directly on WP

[2016-09-29 16:31] acorbi commented on #469
This should be fixed when https://github.com/OpenDevelopmentMekong/wp-odm_theme/issues/495 is fixed.

[2016-09-30 10:04] prustar opened #497 "Data Page // Additional information not displaying"
@acorbi - This is a pretty important dataset to have available, Dan cleared all issues and published this morning and it still doesn't display the data.

https://opendevelopmentmekong.net/dataset/?id=aqua-monitor-surface-land-gain-1985-2016

![image](https://cloud.githubusercontent.com/assets/14996905/18988206/dc3bbda6-8705-11e6-8430-24431d4b5f5e.png)

[2016-09-30 15:19] acorbi commented on #497
This belongs to https://github.com/OpenDevelopmentMekong/wpckan/issues/182

[2016-09-30 15:19] #497 closed

[2016-10-01 07:38] prustar opened #498 "Map Explorer // Doesn't exist any more"
I've reallocated all of the layers into separate maps so that they are easy to visualise and make more sense. However this means that the Map explorer is now blank.

Can we disable the link and just allow users to hover over MAP and force them to select a specific map? Otherwise I will move some of the layers onto the map explorer so that at least something shows up when it is selected.

![image](

[2016-10-01 09:37] acorbi commented on #495
Fixed via https://github.com/OpenDevelopmentMekong/jeo/commit/190d5f8dc0d7ad7e4f82214db152fdef36d383df

[2016-10-01 09:41] acorbi commented on #498
@prustar what is the reason behind uncategorizing ALL the published map layers on https://opendevelopmentmekong.net/wp-admin/edit.php?post_type=map-layer ? As I understand, thematic maps and map-explorer can leave together.

The expected behaviour would be that:
- **Map layers** are categorized so they appear organized on the map explorer
- **Map layers** can be added to **maps** so they can be gr

[2016-10-03 07:20] prustar commented on #498
@acorbi -- The simple answer is that having both duplicates everything. What theme then is the Map explorer based upon and how do we not duplicate this over a thematic theme?

As I had to work with this default behaviour, I curated a layer that would appear when users click on map explorer. I categorised this as a 'feature' set of layers where we could highlight new layers when they become availab

[2016-10-03 07:29] prustar commented on #495
https://opendevelopmentmekong.net/maps/fire/#!/story=post-2921635&loc=13.346865014577924,105.413818359375,6&full=true

Still not working as expected.
I uploaded the combined dataset for all countries into Carto but it's not handling the data very well there's also a CSS error in line 4 - Torque frame count - I tried a few different values but nothing seemed to make it work? If we could get this to

[2016-10-03 10:21] acorbi commented on #498
@prustar:

Layers exposed on thematic maps are also available on map explorer, that is true. But uncategorizing ALL layers has no point, it just breaks the map explorer and removes important context information around the currently maintained layers. In my understanding, there are different ways of leveraging the code-base that we currently have to fit different scenarios:

- If you consider that

[2016-10-03 10:32] acorbi commented on #495
@prustar I have adapted the layers **Test VIIRS_carto** on PP and added the link to the carto map with the regional scope. It is working fine, without errors, see:

https://pp.opendevelopmentmekong.net/map-explorer

Im closing this issue, please re-open if you can still re-produce

[2016-10-03 10:32] #495 closed

[2016-10-03 13:53] prustar commented on #498
You just describe here the map catalogue. Which is still to be developed that is more powerful and allows for exposure to metadata. Using the Map explorer in this way is not appropriate as has been discussed for sometime now. The layering of 20+ layers becomes unmanageable over time which is why we have developed the thematic maps.

I've worked with ODC to develop thematic maps in upcoming proposa

[2016-10-03 14:59] acorbi opened #499 "Group layers by categories on thematic maps"
In order to allow a better UX on the thematic maps, the code should be adapted so the exposed layers are grouped by categories (Maps > Layer categories) as they are on the map explorer.

[2016-10-03 15:05] acorbi commented on #498
The map catalogue cannot do that yet. Let's work with the things that are currently working.

Agreed. However, this is not a reason for uncategorizing all those layers.

Agreed. However, this is not a reason for uncategorizing all those layers.

Not possible? That is not correct. You can just create a new map (under Maps > Add new map), call it "new layers", add the 2 or 3 new layers to it and exp

[2016-10-03 15:52] prustar commented on #498
@acorbi - my requirements for development of the map explorer have yet to be fully implemented.

Please DO NOT re-categories the layers back onto the map explorer. Simply because you don't see the point doesn't mean that there isn't one. I have allocated all layers to a thematic area and they are all accessible through the dropdown Map explorer link. Every layer except those in draft are still ava

[2016-10-03 16:19] acorbi commented on #498
@prustar

happy to discuss and coordinate this separately.

can you please elaborate on why uncategorizing the layers is needed? this is not the first time i am asking this on this conversation and you havent given me any solid arguments.

nothing against this. go for it!

I do not agree with this solution. why do not you just hide the link to the map explorer instead of changing its functionality

[2016-10-04 03:41] Huyeng commented on #498
The map explorer is exposing all the published layers that categorized to show on the page.  It seems like the hub of map layers that users can interact any layers that they interested to produce the maps as they need. Thematic maps is a kind of mapping functionality that allow us to specific layers that relevant to the topics to make it easy for the users, but it doesn't mean that all the layers

[2016-10-04 04:24] S-mardii opened #500 "Responsive-About Page: iframe make the content width bigger than the device's screen width"
![screenshot 2](https://cloud.githubusercontent.com/assets/18528756/19062528/2365a08a-8a25-11e6-949d-6a5898cff45e.png)

[2016-10-04 04:26] S-mardii commented on #500
![screenshot 2](https://cloud.githubusercontent.com/assets/18528756/19062545/550f0f54-8a25-11e6-9211-a0ce20912315.png)

[2016-10-04 05:36] DBishton opened #501 "Centering Tableau embeds"
Hi @Huyeng and @acorbi ,

@davidmhill  and I are having a lot of trouble in trying to center-align embedded Tableau visualisations on topic pages.

An example of typical embed code is below:

`<div id="viz1475212616933" class="tableauPlaceholder" style="position: relative;"><noscript><a href='#'><img alt='Dashboard 1 ' src='https://public.tableau.com/static/images/FA/FAOSTATS-WaterDependencyRates/

[2016-10-04 07:59] acorbi commented on #498
thanks for your comments @Huyeng

Also, even if we hide it from the menu, the user is always going to be possibly landing on the map explorer while changing sites (i.e from Cambodia -> Regional).

@prustar you are the coordinator for the data working stream and this is your responsibility to coordinate but this is currently affecting the functionality and navigability of the site.

Again, **elabor

[2016-10-04 09:41] S-mardii commented on #474
@acorbi  @Huyeng  I would like to reopen this issue because the fix has not yet applied to some particular screen sizes.

[2016-10-04 09:41] acorbi commented on #501
@DBishton @davidmhill

The origin of this problem (and probably the one for the height being set automatically, @DBishton please log issue) is that the embedded code contains javascript logic which makes sure that the tableau embed adapts its size when the page is resized but needs to be slightly tweaked:

This is the complete embed code:

[code]

Now pay attention to the following peace of code:

[2016-10-04 09:41] #501 closed

[2016-10-04 09:42] acorbi commented on #474
@S-mardii please do. We can close it once we merge your upcoming PR

[2016-10-04 09:43] S-mardii commented on #474
@acorbi there is no Reopen button. I can only comment here.

[2016-10-04 10:03] acorbi commented on #474
@S-mardii reopened

[2016-10-04 10:33] DBishton opened #503 "Tableau embeds height value reset to 150px"
We are encountering a strange issue in WordPress in which the height of embeds appears to be automatically reset to 150px.

e.g.

![image](https://cloud.githubusercontent.com/assets/1206387/19071083/7d82524c-8a58-11e6-8ea6-a0a5ba709d64.png)

Example taken from: https://opendevelopmentmekong.net/wp-admin/post.php?post=2913845&action=edit

[2016-10-04 11:08] acorbi commented on #503
@davidmhill @DBishton cannot reproduce in my machine. Im using chrome Version 53.0.2785. on ubuntu.

Can you provide more details of your setup?

[2016-10-04 11:11] acorbi opened #504 "Tableau visualizations not showing up on firefox"
While browsing pages with embedded Tableau content with firefox (version 49.0), I noticed that those embedded contents are not showing up. They do while browsing the site on Chrome.

![screenshot from 2016-10-04 13-08-41](https://cloud.githubusercontent.com/assets/384894/19072165/02c01234-8a34-11e6-921c-46cd42cf56f8.png)

As the screenshot reflects, it could be a javascript Issue.

[2016-10-04 11:12] acorbi commented on #504
@DBishton @davidmhill can you see the visualizations on Firefox yourselves?

[2016-10-04 11:30] #496 closed

[2016-10-04 14:07] acorbi commented on #498
@prustar I have just recategorized the majority of the layers on the map explorer. Closing this Issue

[2016-10-04 14:07] #498 closed

[2016-10-04 14:26] acorbi commented on #469
Closing, fixed via #495

[2016-10-04 14:26] #469 closed

[2016-10-05 02:03] Huyeng commented on #485
I can't reproduce either. Technically, the new i cons is the separated marker layer, it won't be combined with other. The error may cause by the catch, please clear the catch.

[2016-10-05 03:57] davidmhill commented on #503
Hi Alex.

The problem isn’t affected by browsers – at least I’m 95% sure it isn’t. I’ve tried it in Chrome and Safari, but it’s not a viewing issue, it’s to do with WordPress re-populating the HTML code it wants to see. I know it does this with other bits of code like turning HTML font and alignment settings into in-line style tags, which obviously makes things work better for it and across browse

[2016-10-05 06:25] acorbi commented on #485
Closing this, please re-open if still being reproduced.

[2016-10-05 06:25] #485 closed

[2016-10-05 06:32] acorbi commented on #503
Hi @davidmhill , please edit your comment and attach the screenshots. they are not in it.

[2016-10-05 06:48] acorbi commented on #468
@Huyeng maybe you can answer this question since you were working with that functionality in the past. Otherwise, please tell me and I would research it

[2016-10-05 06:49] acorbi commented on #474
Fixed via cdf23c28fb9431bbe997f883f700a6855408b565

[2016-10-05 06:49] #474 closed

[2016-10-05 07:25] Huyeng commented on #458
@prustar, please provide us some information related the browser that produce this error such as the name and the version of the browser as well as Mac or Window.

[2016-10-05 07:48] S-mardii opened #507 "Responsive: Screen width: 320 and 360 should presented Logo in the same line"
(1) Resize Font and Spacing of Logo
(2) Resize social nav logo

Before changing:
![capture](https://cloud.githubusercontent.com/assets/18528756/19105036/183557ec-8b0a-11e6-84c0-e9c38982a117.PNG)

After changing:
![social](https://cloud.githubusercontent.com/assets/18528756/19105211/0824c18e-8b0b-11e6-9884-98701666a4e0.PNG)

[2016-10-05 08:08] acorbi commented on #503
Anyway I am going to look at it today.

[2016-10-05 08:42] DBishton commented on #504
Thanks for logging this @acorbi --

I have tested and can confirm that Tableau visualisations show up for at least one page in Firefox:
![image](https://cloud.githubusercontent.com/assets/1206387/19106556/2bbfb8c2-8b12-11e6-84c3-4905114ed7d4.png)

Though I note that they take considerably more time than other elements to render on initial page load.

[2016-10-05 09:01] acorbi commented on #504
OK, if they show up for one page, then they should do for all. I'm closing this Issue. Let's re-open or log a new one in case other issues are reproduced around embedded tableau content.

[2016-10-05 09:01] #504 closed

[2016-10-05 09:37] gimmemochi commented on #447
@ChandaraKhun there are 285 strings needed to be translated into Khmer on this package. Please coordinate the translation with your team. For questions or concerns, let us know. Once you're done, please inform Alex to implement the translation.

[2016-10-05 09:49] acorbi opened #508 "Unify slider for multiple torque layers on thematic maps"
The control for the fire map layers are overlapping therefore you can only switch and control one layer. Also the bar is slightly longer than the scale box. This was taken from the map preview view.

![image](https://cloud.githubusercontent.com/assets/14996905/19005411/cd38ff58-875a-11e6-9a1e-53078c722f26.png)

Unfortunately when the menu is enabled the time controls are not available:
![image](ht

[2016-10-05 09:50] acorbi commented on #508
@prustar

Which menu you mean?

Can you provide a link?

[2016-10-05 10:10] Huyeng commented on #499
Exposing the layers and grouped them by layer categories as map explorer can't apply directly to all the thematic map.  Some embedded thematic map contain only 1-2 layers, grouping does  not need.
I would like to suggest to provide an option to set it if the thematic map is required to category.

[2016-10-05 10:15] acorbi commented on #499
@Huyeng , I agree with your proposal.

**NOTE** that I have added the **discussion needed** and **feature request** labels to this Issue, let's agree on this before implementing anything.

[2016-10-05 10:34] acorbi commented on #503
@DBishton @davidmhill some interesting links with possible solutions, please read:
https://www.alightanalytics.com/alight-insights/embedding-tableau-workbooks-wordpress-blogs/ ( See  Using iFrame Tags)
http://www.jeromecukier.net/blog/2012/07/02/embedding-tableau-visualizations-on-the-web/

Alternatively, you can try this plugin: https://wordpress.org/plugins/iframely/ which I have installed on PP

[2016-10-05 11:09] acorbi commented on #425
@ChandaraKhun cannot reproduce this issue anymore. I will consider it fixed, please re-open if you can still reproduce it.

[2016-10-05 11:09] #425 closed

[2016-10-05 11:10] acorbi commented on #393
@prustar, please check and close if fixed

[2016-10-05 12:07] acorbi commented on #507
Fixed via a5ea82d1f194a570a774c6267ff368fac0ccb3e6

[2016-10-05 12:07] #507 closed

[2016-10-05 13:27] acorbi commented on #359
@Huyeng I would like to suggest to implement something like the **Steve** version on http://tympanus.net/Development/HoverEffectIdeas/index2.html

![screenshot from 2016-10-05 15-14-33](https://cloud.githubusercontent.com/assets/384894/19114505/8bafb380-8b0e-11e6-9b63-72a23f354041.png)

The idea would be to have a white background behind the title (and possibly also behind the metadata), the opaci

[2016-10-05 13:30] yanoak commented on #359
@acorbi agreed. The bright photos look much better than the dark ones. Description on hover looks like a good way to go about it. But how about on mobile where hover doesn't work? Maybe one tap to show description and another tap to go to the link? Is that possible to implement?

[2016-10-05 13:32] acorbi commented on #359
@yanoak good point. I would just code the widget to not provide that interaction while on mobile. On mobile, the widgets would not show the description anyways since the boxes are probably too small...

[2016-10-05 13:32] acorbi commented on #359
looping @DragonVirus and @ChandaraKhun on this as well

[2016-10-05 13:33] yanoak commented on #359
@acorbi ah I see. Ok that works.

[2016-10-05 16:32] acorbi commented on #500
@S-mardii I have installed https://wordpress.org/plugins/iframely/ on Pre-production, this might be fixed by using the plugin, which supports URLs from Prezi. Can you please check if it does? We are considering integrating it into Production

[2016-10-05 18:19] prustar commented on #486
@acorbi @DBishton --

The taxonomy for water should be listed as requested above on the WP front end. This is the order which makes sense to be able to guide the understanding of our users of the current circumstances of water. Otherwise they will be reading it out of context.

LEVEL2 - Water
  LEVEL3 - Water resources
     LEVEL4 - Rain and snow
     LEVEL4 - Surface water
          LEVEL5 - Mari

[2016-10-05 21:53] prustar opened #510 "WATER// Hyperlinks not working"
@DBishton - on Water resource page link to subsequent pages aren't working both at top and bottom.
![image](https://cloud.githubusercontent.com/assets/14996905/19133027/9ac4840c-8b56-11e6-90fd-2a95fd97e557.png)

[2016-10-05 22:30] prustar commented on #510
@DBishton -- on Surface water page link to Rivers and Lakes not working:
![image](https://cloud.githubusercontent.com/assets/14996905/19134085/1be69e26-8b5c-11e6-9b91-c8b7dd39b3e9.png)

[2016-10-06 01:43] davidmhill commented on #503
Hi Alex – I replied to your message via email – I thought I could do that and it would come through. I’ll go into Github instead.

From: Alex Corbi <notifications@github.com>
Reply-To: OpenDevelopmentMekong/wp-odm_theme <reply@reply.github.com>
Date: Wednesday, 5 October 2016 at 13:32
To: OpenDevelopmentMekong/wp-odm_theme <wp-odm_theme@noreply.github.com>
Cc: David Hill <davidmartinhill@hotmail.c

[2016-10-06 01:59] Huyeng commented on #468
@DBishton, the news posts will display in all maps if they are not set to any specific map.

[2016-10-06 02:07] Huyeng commented on #468
@DBishton, the news posts will display in all maps if they are not set to any specific map.

[2016-10-06 02:10] Huyeng opened #511 "News: Missing Map and its icon on single page of news post"
The news which has geo tag is not shown that cause some space between title and content.
![screenshot_2](https://cloud.githubusercontent.com/assets/6613530/19138241/947172c4-8ba4-11e6-8cce-e4cf01e6b13e.jpg)

The icon of news on PP site doesn't show up too.
![screenshot_4](https://cloud.githubusercontent.com/assets/6613530/19138261/b316712a-8ba4-11e6-9e8b-5afd7ba5ee48.jpg)

[2016-10-06 03:29] S-mardii commented on #500
@acorbi I have checked it. This plugin work nicely on various size of the screen except the device with screen width: 320px

[2016-10-06 03:37] S-mardii opened #512 "Responsive: Modify OD Head to make it look better"
(1) Resize and re-position Social Nav
After modifying:
![social](https://cloud.githubusercontent.com/assets/18528756/19139680/d491e65c-8bb0-11e6-97f1-581af4059e71.PNG)

(2) Align and resize logo
After Modifying:
![screenshot2](https://cloud.githubusercontent.com/assets/18528756/19141201/691e4e94-8bbd-11e6-8498-ffe22dfb403e.png)

[2016-10-06 04:18] Huyeng commented on #511
@acorbi, It was noticed that all the posts of Map post type were deleted except the Access to public service, as a result, this caused the blank map for the news archive page and single as well.

I don't think that error caused by technical issue. I really wonder why those post of maps has gone? Or are those deleted by accidentally mistake or are there any reasons to remove those maps?
I just crea

[2016-10-06 04:31] Huyeng commented on #510
Hyperlinks are updated.

[2016-10-06 04:31] #510 closed

[2016-10-06 04:52] DBishton commented on #486
@prustar  This issue refers to the ordering of taxonomy categories generated by the widget.

@Huyeng Can this be changed?

[2016-10-06 05:15] acorbi commented on #500
@S-mardii on devices with that size (320px) the Issue is the same as pictured above?

[2016-10-06 05:24] S-mardii commented on #500
@acorbi yeah.

[2016-10-06 07:39] vatana92 opened #516 "Laws page's format errors with Chrom browser"
![law page](https://cloud.githubusercontent.com/assets/19201022/19144192/69b5591e-8bd2-11e6-934f-1036b5ba8e54.JPG)

[2016-10-06 07:50] S-mardii opened #517 "Responsive (Screen width 768px)-Board Member Page: Text should wrap around the photos"
![screenshot3](https://cloud.githubusercontent.com/assets/18528756/19144508/38aad70c-8bd4-11e6-8515-5cf898853388.png)

[2016-10-06 07:53] acorbi commented on #486
@Huyeng for reference:

The **Topics > Taxonomy order** is apparently configured correctly:

![screenshot from 2016-10-06 09-51-58](https://cloud.githubusercontent.com/assets/384894/19144571/ae7a5bf8-8baa-11e6-9db9-97cb54a3dac8.png)

However, the Water section of the taxonomic widget does not reflect the structure configured:

![Uploading Screenshot from 2016-10-06 09-53-22.png…]()

[2016-10-06 08:02] DBishton commented on #486
@acorbi @huyeng Just noting that "Trends and challenges" should be the
first sub-topic below "Water governance".

On Thu, Oct 6, 2016 at 2:53 PM, Alex Corbi <notifications@github.com> wrote:

--

*Daniel Bishtonmobile:  +855968153317 | Twitter:
http://twitter.com/DanielBishton <http://twitter.com/DanielBishton> |
LinkedIn: http://linkd.in/Uf2YKt <http://linkd.in/Uf2YKt>*

[2016-10-06 08:41] Huyeng commented on #486
The topic area sidebar is shown following by the order by ordering in this taxonomy order page:
https://opendevelopmentmekong.net/wp-admin/edit.php?page=to-interface-post

Any ordering requires to change you can do it by yourself now.

[2016-10-06 08:41] #486 closed

[2016-10-06 10:15] DoLinh commented on #359
support your suggestion, @acorbi <https://github.com/acorbi> . I suppose
not a description but quick options of the items inside the page so that
user can choose either to go to the page or directly to the item.

On Wed, Oct 5, 2016 at 8:33 PM, Yan Naung Oak <notifications@github.com>
wrote:

--

------------------------------
*This communication, together with any attachment, may contain confiden

[2016-10-06 10:30] davidmhill commented on #503
Hi Alex -- sorry but I spent today working on other things, so I won't get a chance to play with the <iframe> solution. Not sure what you want to do about this, but at least we know the work-around for now.

[2016-10-06 10:43] #511 closed

[2016-10-06 10:45] #454 closed

[2016-10-06 10:45] #512 closed

[2016-10-06 10:46] #517 closed

[2016-10-06 10:48] acorbi opened #519 "Update link to ODMM site on country selector"
Currently, it points to myanmar.opendevelopmentmekong.net and should point to opendevelopmentmyanmar.net

[2016-10-06 10:55] #519 closed

[2016-10-06 10:57] acorbi commented on #516
@vatana92 I tried but cannot reproduce this issue on my machine. Im using Ubuntu Linux, with chrome 45.0.2454.101.

![screenshot from 2016-10-06 12-56-46](https://cloud.githubusercontent.com/assets/384894/19149897/74b3a4aa-8bc4-11e6-936a-9d18602ad890.png)

Can you please provide more details of your setup? Also, please try to refresh the site with CTRL+F5

[2016-10-06 10:58] acorbi commented on #516
@OpenDevelopmentMekong/tech anybody can reproduce this?

[2016-10-06 11:20] vatana92 commented on #516
That format or the style of Law page viewed on Firefox is fine. But when it viewed on Chrome, it looks like the picture I sent you. It happened on both Khmer and English sites.

[2016-10-06 11:21] acorbi commented on #468
@DBishton so I guess the answer to your question is:

* Those news stories which are assigned to the specific thematic map
* Those news stories not assigned to any specific thematic map ( all )

I remember we had a change request some time ago to alter the logic so only those posts assigned to a map would appear on them. Should we re-open that conversation?

[2016-10-06 11:22] acorbi commented on #516
@vatana92 can you please tell me which Chrome version you are using.

did you try to refresh the site with CTRL+F5?

[2016-10-06 11:25] Huyeng commented on #516
Checking with my chrome browser, i got the same error as @vatana92.
Its Version 53.0.2785.143 m

![screenshot_1](https://cloud.githubusercontent.com/assets/6613530/19150661/3146be40-8bf2-11e6-8f74-dc6d21f8bb17.jpg)

[2016-10-06 11:27] vatana92 commented on #516
Mine is Version 53.0.2785.116 m

[2016-10-07 03:59] S-mardii commented on #517
@acorbi reopen

[2016-10-07 09:38] S-mardii opened #521 "Responsive: (screen: 600-768) The length of the name of Max Mega Menu's items determine the responsiveness of the site"
state quo:
![screenshota](https://cloud.githubusercontent.com/assets/18528756/19184920/8d92116a-8ca9-11e6-917d-528e9f94f62d.png)

if we delete some items or remain the item's name:
![screenshotb](https://cloud.githubusercontent.com/assets/18528756/19185571/6d70e21e-8cac-11e6-9866-55658f93c214.png)

[2016-10-07 10:47] S-mardii opened #522 "Responsive - Partner page: Each box should be shown in full width"
![capture](https://cloud.githubusercontent.com/assets/18528756/19187583/6bb46c5c-8cb6-11e6-80a2-f17cb19b09f4.PNG)

[2016-10-07 10:51] Huyeng commented on #508
@acorbi, it is the layer menu.

I will check and fix it.

[2016-10-07 16:02] #508 closed

[2016-10-10 02:31] Huyeng opened #524 "Map Explorer: enhance styling of WMS layer's info-window"
Info window  of wms layer:
![screenshot_3](https://cloud.githubusercontent.com/assets/6613530/19225775/001b36d4-8ecc-11e6-9010-c2f2c991713c.jpg)

Info window of Cartodb:
![screenshot_6](https://cloud.githubusercontent.com/assets/6613530/19225788/509d40b6-8ecc-11e6-8156-cbf359155542.jpg)

[2016-10-10 09:54] Huyeng opened #526 "Map Explorer: A layer is showed in other layer category that was not categeried"
For example:
This layer is categorized under the Basemap category only, but it was showed in Demographic category too.
![screenshot_3](https://cloud.githubusercontent.com/assets/6613530/19232486/36cc8e1a-8f0a-11e6-8d84-a9b23aa8207d.jpg)

![screenshot_4](https://cloud.githubusercontent.com/assets/6613530/19232394/b2d3d7e4-8f09-11e6-9f0e-fda2ae2958ef.jpg)

[2016-10-10 10:51] S-mardii opened #527 "Responsive: Partner page is not responsive on mobile screens"
![screenshot](https://cloud.githubusercontent.com/assets/18528756/19233814/193d195c-8f12-11e6-8623-34ca9df019ab.png)

[2016-10-10 10:54] S-mardii commented on #527
![screenshot1](https://cloud.githubusercontent.com/assets/18528756/19233884/88eeecc6-8f12-11e6-9e7e-3b5a7de9ca90.png)

[2016-10-11 05:31] Huyeng commented on #99
Dataset was deleted.

[2016-10-11 05:31] #99 closed

[2016-10-11 07:47] #526 closed

[2016-10-11 08:06] Huyeng opened #529 "Map Explorer: Layers on Layer Navigation are hidden"
The layer navigation container is higher than the map container, as a result, when the categories are expended, some of layers are hidden.
![screenshot_5](https://cloud.githubusercontent.com/assets/6613530/19263013/4dcbcd46-8fc4-11e6-8d36-4b818710eab7.jpg)

[2016-10-11 10:24] #524 closed

[2016-10-11 10:50] Huyeng opened #531 "Map Explorer: Embedded Map Access Public to Service error"
![screenshot_7](https://cloud.githubusercontent.com/assets/6613530/19267849/368f10fe-8fdb-11e6-9382-94ddf39b908e.jpg)

[2016-10-11 11:45] #531 closed

[2016-10-12 03:09] S-mardii opened #533 "Profile-page-single-page: Enhance UI of Amendment table"
![screenshot4](https://cloud.githubusercontent.com/assets/18528756/19296193/0407002c-9064-11e6-84f2-4dc97332b611.png)

[2016-10-12 10:18] S-mardii commented on #533
Logged in wp-odm_profiles_pages https://github.com/OpenDevelopmentMekong/wp-odm_profile_pages/issues/43

[2016-10-12 10:18] #533 closed

[2016-10-12 10:30] Huyeng commented on #516
Moved to https://github.com/OpenDevelopmentMekong/wp-odm_tabular_pages/issues/13

[2016-10-12 10:30] #516 closed

[2016-10-12 14:22] acorbi opened #534 "harmonize archive page for dashboards"
Currently, the archive page for dashboards is the default one and should be adapted so it matches the layout of other archive pages such as topics, profiles, etc...

Currently,
![screenshot from 2016-10-12 09-19-33](https://cloud.githubusercontent.com/assets/384894/19313729/295425d2-905d-11e6-870a-b0d0b8ff5f79.png)

Other archive topic pages:
![screenshot from 2016-10-12 09-22-21](https://cloud.gi

[2016-10-12 14:24] #534 closed

[2016-10-12 14:56] acorbi commented on #470
@Huyeng Im already estimating the implementation of milestone 2.1.0 and this task is part of the working plan. Could you please estimate how many hours would you need to implement this functionality?

Basically, we should implement a way of being able to embed a single map layer via a code similar to:

[code]

But instead of using the ?map_id attribute we would tweak the code to use anew attribute

[2016-10-12 14:59] acorbi commented on #392
@S-mardii you are good working with CSS, could you please implement this visual enhancement?

[2016-10-13 05:22] thetaung2 opened #536 "New uploads on Home Page"
To show new uploads from all pages on home page. - Example: ODC has 1) Topics 2) Maps 3) Profiles 4) News 5) Laws, policies and agreements pages. However only 1) News 2) Topics and 3) Profiles are shown on the home page.

![capture](https://cloud.githubusercontent.com/assets/20394487/19337450/5c9e02da-913b-11e6-8ce1-852d517b453a.PNG)

[2016-10-13 05:27] thetaung2 opened #537 "Larger search bar"
The current search area is quite small. It'd be great to show a prominent search bar as in World Bank and EU Open Data portals.

![capture2](https://cloud.githubusercontent.com/assets/20394487/19337557/2746bb1c-913c-11e6-94e6-ad24d79ba0b9.PNG)

![capture](https://cloud.githubusercontent.com/assets/20394487/19337531/f0b0bc9c-913b-11e6-84be-25a04bf23d48.PNG)

[2016-10-13 05:36] thetaung2 opened #538 "Popular searches (Word cloud)"
Showing popular searches in a word cloud.
![ptda-tagcloud](https://cloud.githubusercontent.com/assets/20394487/19337680/4706efde-913d-11e6-97ba-c9e189c3fead.jpg)

[2016-10-13 05:47] thetaung2 opened #539 "Features in a nutshell"
For external users, especially those who are unfamiliar with the features of the portal, it'd be good to have a summary explanations of each features.

[2016-10-13 05:47] thetaung2 opened #540 "New page for Users' works: stories, reports, apps, infographics"
We would like to add a page showcasing the work of ODMM users. It would include data stories, reports, infographics, mobile apps, etc.

[2016-10-13 17:09] acorbi commented on #540
@thetaung2 I would suggest that you create a normal Wordpress page for this and add a link to the menu.  You are free to add the content you want on them.

Or do you have any other requirements that cannot be done with such a page? If you do not have any special requirement, I would then close this issue

[2016-10-13 17:09] acorbi commented on #539
@thetaung2 I would suggest that you create a normal Wordpress page for this and add a link to the menu. You are free to add the content you want on them.

Or do you have any other requirements that cannot be done with such a page? If you do not have any special requirement, I would then close this issue

[2016-10-13 17:10] acorbi commented on #538
@thetaung2 where would you show that word cloud? Can you please be a bit more specific

[2016-10-13 17:11] acorbi commented on #537
@thetaung2 Since the search bar is on the same line as the menu items, increasing its size might conflict with them.

Can you please provide a design mockup on where and how big you would like to place the search bar?

[2016-10-13 17:14] acorbi commented on #536
@thetaung2 you are free to configure the widgets that are shown on the homepage of ODMm. Please follow the corresponding guides or contact @DBishton for support.

I do not see any requirement to make code changes on the site. Or is there any other requirement that I am overseen?

[2016-10-14 03:52] thetaung2 commented on #540
Noted! I'd like to know if we are allowed to do something like this. Thanks
for this and I don't have additional requirements. We can close the issue
now.

On Thu, Oct 13, 2016 at 5:09 PM, Alex Corbi <notifications@github.com>
wrote:

--
Best,
Thet Aung

Phandeeyar: Myanmar Innovation Lab
11th Floor, "Mac Tower" Building, 561 Merchant Road, Yangon
Facebook <https://www.facebook.com/phandeeyar> | T

[2016-10-14 03:57] thetaung2 commented on #539
Noted with thanks. Please close the issue.

On Thu, Oct 13, 2016 at 5:09 PM, Alex Corbi <notifications@github.com>
wrote:

--
Best,
Thet Aung

Phandeeyar: Myanmar Innovation Lab
11th Floor, "Mac Tower" Building, 561 Merchant Road, Yangon
Facebook <https://www.facebook.com/phandeeyar> | Twitter
<https://twitter.com/phandeeyar> | Instagram
<https://instagram.com/phandeeyar> | Website <http://www.pha

[2016-10-14 03:58] thetaung2 commented on #536
Noted!

On Thu, Oct 13, 2016 at 5:14 PM, Alex Corbi <notifications@github.com>
wrote:

--
Best,
Thet Aung

Phandeeyar: Myanmar Innovation Lab
11th Floor, "Mac Tower" Building, 561 Merchant Road, Yangon
Facebook <https://www.facebook.com/phandeeyar> | Twitter
<https://twitter.com/phandeeyar> | Instagram
<https://instagram.com/phandeeyar> | Website <http://www.phandeeyar.org/>

[2016-10-14 04:17] jpeizer1 opened #541 "Mekong Data Menu Search Default Results"
When you click on DATA in main Mekong navigation menu you end up with CURRENT STATISTICS
4 datasets and 69 library records  by default which makes it look like there is nothing in the database. Its not clear what these few records refers to as the default search option -- since when you search ALL  LIBRARY  you clearly get more data sets.

![capture](https://cloud.githubusercontent.com/assets/1655

[2016-10-14 05:35] Huyeng opened #542 "Remove duplicated the css of _tabular-pages.less"
The tabular css has been included in both tabular plugin and w--odm_theme.
Suggest: to remove one from child theme.

[2016-10-14 05:41] Huyeng opened #543 "Align the icons of collapse and expend to be inline with the texts"
![screenshot_9](https://cloud.githubusercontent.com/assets/6613530/19376820/5a0c7c74-920b-11e6-973d-9305c9e9b6d7.jpg)

[2016-10-14 06:40] S-mardii commented on #392
@acorbi I will check it out

[2016-10-14 09:05] vatana92 opened #547 "Issue with sharing the data page on Social Media"
There is no thumbnail embed image and description. (The screenshot is when the link shared on Facebook).

![screenshot_1](https://cloud.githubusercontent.com/assets/19201022/19381729/3818a3d8-9227-11e6-9443-af83f240c4c3.png)

[2016-10-14 09:06] vatana92 commented on #547
There should have sharing icons on data page like other topic pages.
![screenshot_2](https://cloud.githubusercontent.com/assets/19201022/19381924/0d62a0b6-9228-11e6-905c-703ea5e714ef.png)

[2016-10-14 09:49] Huyeng opened #548 "Inconsistent font name between table and list of taxonomy"
![screenshot_10](https://cloud.githubusercontent.com/assets/6613530/19383380/348cbedc-922e-11e6-8b18-3df47b82d132.jpg)

[2016-10-14 10:00] #548 closed

[2016-10-14 10:31] Huyeng commented on #529
Layer navigation is still hidden when login.
![screenshot_11](https://cloud.githubusercontent.com/assets/6613530/19384577/15dce7fe-9234-11e6-92c7-39cdee5d2ebb.jpg)

[2016-10-14 11:13] Huyeng opened #551 "Map Explorer: Layers on Layer Navigation are hidden in ifram of embedded map"
![screenshot_12](https://cloud.githubusercontent.com/assets/6613530/19385645/de8dd474-9239-11e6-86c9-5c52b009088d.jpg)

[2016-10-14 11:20] S-mardii opened #552 "responsive: OD selector don't response well"
some times OD selector show it submenu some time not

[2016-10-14 12:17] #543 closed

[2016-10-14 12:17] #392 closed

[2016-10-14 12:18] #542 closed

[2016-10-14 12:18] #529 closed

[2016-10-14 12:18] #551 closed

[2016-10-14 12:20] #552 closed

[2016-10-14 12:22] #527 closed

[2016-10-17 03:22] Huyeng opened #556 "Topic Areas on right sidebar of topic page is not translated"
![screenshot_13](https://cloud.githubusercontent.com/assets/6613530/19424466/9c061b2c-9453-11e6-9cda-37b31ef25d1a.jpg)

[2016-10-17 03:28] Huyeng opened #557 "Map Explorer: Some strings on Map explorer are not translated"
![screenshot_14](https://cloud.githubusercontent.com/assets/6613530/19424580/71f59d70-9454-11e6-83f2-eb17c74668c3.jpg)

[2016-10-17 13:02] #447 closed

[2016-10-17 13:03] #557 closed

[2016-10-17 13:03] #556 closed

[2016-10-19 11:22] acorbi opened #561 "error on https://opendevelopmentmyanmar.net/maps/"
https://opendevelopmentmyanmar.net/maps/

![screenshot from 2016-10-19 07-21-12](https://cloud.githubusercontent.com/assets/384894/19517012/be1b28a4-95cc-11e6-9650-8ac2ffe510d2.png)

[2016-10-19 12:01] S-mardii opened #562 "Partnership Columbia Sipa"
https://opendevelopmentcambodia.net/about/partnerships/columbia-sipa/ should be better in display pictures

[2016-10-19 15:03] #562 closed

[2016-10-19 15:35] acorbi opened #564 "Add "Share on social media" buttons on data detail page"
There should have sharing icons on data page like other topic pages.
![screenshot_2](https://cloud.githubusercontent.com/assets/19201022/19381924/0d62a0b6-9228-11e6-905c-703ea5e714ef.png)

[2016-10-19 15:37] acorbi commented on #547
@vatana92 I created a separated issue from your second comment on https://github.com/OpenDevelopmentMekong/wp-odm_theme/issues/564. I deleted the comment for removing duplication

[2016-10-19 15:37] #540 closed

[2016-10-19 15:37] #539 closed

[2016-10-19 15:38] #536 closed

[2016-10-19 15:44] acorbi opened #565 "Add sign-up form for mailing list on homepage"
Currently, sign-up form for mailing list is only available on contact page https://opendevelopmentmekong.net/contact/

Adding such form on our homepage would increase the number of users signing up considerably. A mockup on how it could be layouted would be something like pictured below:

![screenshot from 2016-10-19 11-41-45](https://cloud.githubusercontent.com/assets/384894/19526137/666ebfd8-95f

[2016-10-19 15:44] acorbi commented on #565
@gimmemochi @DBishton ping

[2016-10-20 04:00] gimmemochi commented on #565
@acorbi Maybe just a big button, a call to action, and when people click, they are taken to a page? I like your idea as it reduces the click but it would make the homepage too messy.

[2016-10-20 13:10] acorbi opened #566 "Implement metabox for adding related content to posts"
This approach consists on coding a metabox through which the editors should be able to enter the metadata for each post.

Editors need to be able to add a LIST of URLs to a certain post ( news, topic, etc..)
A Metabox (similar to WPCKAN Add related datasets metabox) will be available on new/edit post screen on WP and offer the possibility to add related links:
### Metabox’ UI elements:
- **text in

[2016-10-20 13:15] acorbi opened #567 "Implement ODM list related content widget"
A widget ODM list related content will be exposed by the theme which gives the editor (under **Appearance > Widgets** ) the possibility to place a widget on the UI and configure it with following options:

**Title** (example: Related library records)
**Filtering by type**: In order to only present related contents with the same type value. Present a list of checkboxes or **multi-select dropdown**

[2016-10-21 09:32] S-mardii commented on #522
Fixed via https://github.com/OpenDevelopmentMekong/wp-odm_theme/commit/acf62fb25bfe793a9dbf5b9693cca484b1ec985f

[2016-10-21 09:32] #522 closed

[2016-10-21 09:57] S-mardii opened #568 "Responsive: Columbia SIPA image bug in small screen"
https://opendevelopmentcambodia.net/about/partnerships/columbia-sipa/

![screenshot](https://cloud.githubusercontent.com/assets/18528756/19594465/5db2a9c6-97af-11e6-94f0-09bdb6c40848.png)

[2016-10-24 02:54] #568 closed

[2016-10-24 15:23] Huyeng commented on #566
@acorbi - it was requested to have the  optional text box for hyperlink's label for customization. It will be useful for adding the out source url as well. What do you think?

[2016-10-24 15:33] Huyeng commented on #561
There is no need to assign the template for the map post. Fixed it now, after updating the template to default.

[2016-10-24 15:33] #561 closed

[2016-10-24 15:37] Huyeng commented on #567
Which template that can show the thumbnail of map or layer with link to dataset/map page?
If it has not yet, please add a new template for it.

[2016-10-24 15:47] acorbi commented on #567
@Huyeng thanks for pointing this out. I've added to the list of template above

[2016-10-24 16:07] acorbi commented on #566
@Huyeng OK, adding label would be a possible functionality. However I would do this **optional**, if editors do not specify any label, the title of the related content will be shown per default. This could vary depending on the type of content and the template.

 Please plan and implement accordingly.

[2016-10-24 19:41] #440 closed

[2016-10-24 19:47] acorbi opened #570 "Circle showing on WPCKAN widget on homepage"
On https://vietnam.opendevelopmentmekong.net/vi/, an instance of the WPCKAN related datasets widget is placed. It features circle symbols and should not. CSS properties should be adapted..

![screenshot from 2016-10-24 15-45-11](https://cloud.githubusercontent.com/assets/384894/19661280/1f2a96f6-9a01-11e6-9889-02a69178d63f.png)

[2016-10-25 02:45] Huyeng commented on #567
The related content should be a new plugin. I will create a new plugin for this, what do you think?

[2016-10-25 02:46] Huyeng commented on #566
The related content should be a new plugin. I will create a new plugin for this, what do you think?

[2016-10-25 02:50] acorbi commented on #566
@Huyeng agreed. which name should we choose? wp-odm_related? wp-odm_metadata?

[2016-10-25 03:23] Huyeng commented on #566
wp-odm_related, it is not quite clear. What do you think if we name it as wp-odm_related_content?

[2016-10-25 16:28] acorbi commented on #566
@Huyeng I prefer the name to be shorter, otherwise we are going to be typing long names all the time  wp-odm_related is my favourite but feel free to suggest others...

[2016-10-26 04:46] Huyeng commented on #566
Short name is fine.

[2016-10-26 08:42] vatana92 opened #572 "No "Related publications" & "Related laws and regulations" on Khmer site"
On profile page "Access to public service" not showing "Related publications" & "Related laws and regulations" on Khmer site.
![eng](https://cloud.githubusercontent.com/assets/19201022/19719104/a13250ac-9b92-11e6-9754-809ccee35615.png)
![khmer](https://cloud.githubusercontent.com/assets/19201022/19719105/a13af950-9b92-11e6-9f50-0b7a016c6a49.png)

[2016-10-27 08:42] acorbi commented on #572
@vatana92 will take a look at this. thanks for reporting!

[2016-10-27 10:14] acorbi commented on #503
@DBishton @davidmhill have you had the chance to try the iframely plugin on PP?

[2016-10-31 09:33] DBishton commented on #397
Hi @acorbi,

This definitely sounds like it would work in the short term.

However, it appears to be constrained by the new text margins currently:

Screenshot from test story on pp:

https://pp.opendevelopmentmekong.net/stories/test-story/

![image](https://cloud.githubusercontent.com/assets/1206387/19849820/bc5b8328-9f87-11e6-881e-80101905b484.png)

[2016-10-31 10:33] DBishton opened #573 "Per-post widget changes: not all widget areas visible on PP"
When choosing widgets on a per-post basis on pre-production, only the topic sidebar area is presented as an option:

https://pp.opendevelopmentmekong.net/wp-admin/post.php?post=2256062&action=edit

![image](https://cloud.githubusercontent.com/assets/1206387/19851304/d188a2f0-9f8f-11e6-9d7f-80ea2276432a.png)

On production, more widget areas appear to be displayed:

https://opendevelopmentmekong.ne

[2016-10-31 10:40] DBishton commented on #395
Hi @acorbi, could you give an ETA for this one? Having access to these styling options is important for testing widget presentations and preparing the water governance material.

[2016-10-31 10:56] DBishton commented on #398
Hi @acorbi,

This could be a solution, however the set of fonts currently available is very small (17) and they are frankly -- kind of lame.

![image](https://cloud.githubusercontent.com/assets/1206387/19851995/4425b912-9f93-11e6-8b94-3f3d852cecde.png)

Would something like this be a potential solution? https://wordpress.org/plugins/use-any-font/

[2016-10-31 11:23] acorbi commented on #573
@DBishton take a look at https:/pp/opendevelopmentmekong.net/wp-admin/admin.php?page=pw-settings, there, you are able to specify which widget areas are available.

On PROD, more widget areas are available.

Closing this, please re-open if it is not working somehow.

[2016-10-31 11:23] #573 closed

[2016-10-31 11:25] acorbi commented on #395
Sure, this one should be easy. Let's say it will be ready by wednesday

[2016-10-31 11:31] acorbi commented on #398
@DBishton That would be a solution yes. But I would encourage you to try the available fonts first to see if you find any that would work in order to not installing another plug-in. If they all suck, then we integrate that one. I would need to know which font you would then suggest to use instead

[2016-11-01 09:15] #395 closed

[2016-11-01 22:21] acorbi opened #575 "class odm_timeline does not have method save_post_data"
On one of the metaboxes on the dashboard's homepage of ODMM ( https://opendevelopmentmyanmar.net/wp-admin/ ) following error message appears:

[code]

![screenshot from 2016-11-01 23-19-37](https://cloud.githubusercontent.com/assets/384894/19909872/e6a41aca-a089-11e6-9b4e-ce80fe08c103.png)

@Huyeng can you please take a look at this?

[2016-11-01 22:27] acorbi opened #576 "ODM Contents same category disabling subsequent widgets"
Issue reproduced on the widget sidebar of topic pages:

If the **ODM Contents same category** widget is added before the **WPCKAN related datasets** widgets, the latter do not appear on topic pages such as https://opendevelopmentmekong.net/topics/land.

[2016-11-02 09:59] Huyeng opened #577 "More link on the related widget page should link to the post type archive page instead the homepage"
![screenshot_1](https://cloud.githubusercontent.com/assets/6613530/19924255/c013ce0c-a11d-11e6-859e-c20933082c3d.jpg)

[2016-11-02 10:29] Huyeng opened #579 "Hide the search box in layer container"
![screenshot_2](https://cloud.githubusercontent.com/assets/6613530/19925292/e9eeab12-a121-11e6-814c-00f26c7991eb.jpg)

[2016-11-02 10:56] Huyeng opened #580 "Hide map on profile if no layer is selected"
The map of profile should be hidden if no layer is selected.

[2016-11-02 11:47] #580 closed

[2016-11-02 15:53] #570 closed

[2016-11-02 15:56] acorbi commented on #576
**NOTE** Also the results of the sparql widget are not showing

[2016-11-02 20:49] acorbi opened #583 "offline copy css for web fonts"
Download the css of web fonts imported on _typography.less in order to improve performance of gulp build process.

[2016-11-02 20:58] #583 closed

[2016-11-03 05:21] Huyeng opened #585 "Add reset query function to the odm_contents_same_category_widget"
The get_the_id() got wrong ID after add the odm_contents_same_category_widget because of not reset query is called.

[2016-11-03 06:12] acorbi commented on #585
@Huyeng thanks for the lead! this could be related to https://github.com/OpenDevelopmentMekong/wp-odm_theme/issues/576

[2016-11-03 07:13] #585 closed

[2016-11-03 07:19] acorbi commented on #576
Fixed via #585

[2016-11-03 07:19] #576 closed

[2016-11-03 17:24] acorbi opened #588 "Some variable initialization notices"
As shown in the screenshot below, there are some notice messages appearing on this test profile on https://pp.opendevelopmentmekong.net/profiles/test/. The reason is that the variables indicated are not properly initialized and, when the profile is not properly configured, this messages appear.

Proper code should consider this scenarios and, either show a message or do not permit profile's public

[2016-11-03 17:37] #575 closed

[2016-11-04 02:54] Huyeng opened #590 "The cartodb map layers won't show up on map explorer and profile page"
When a layer of cartodb enable, there is not map presented.

[2016-11-04 03:45] #590 closed

[2016-11-06 17:15] prustar commented on #503
@acorbi @dbishton @davidmhill - did you guys find a solution for this? If so could you please upload into the Wiki guides for people to refer to. This page needs fixing.

![image](https://cloud.githubusercontent.com/assets/14996905/20039899/1d59b6a2-a47b-11e6-9f59-ee2a89521a69.png)

[2016-11-07 14:10] acorbi opened #593 "Enable custom fields on custom post types"
In order to be able to see and potentially modify quickly the **Custom fields** of all post types we maintain.

![screenshot from 2016-11-07 15-09-39](https://cloud.githubusercontent.com/assets/384894/20060620/4a6a7790-a4fc-11e6-81ea-4e8eceb73490.png)

[2016-11-07 15:43] acorbi commented on #566
moved to https://github.com/OpenDevelopmentMekong/wp-odm_related/issues/4

[2016-11-07 15:43] #566 closed

[2016-11-07 15:43] acorbi commented on #567
moved to https://github.com/OpenDevelopmentMekong/wp-odm_related/issues/5

[2016-11-07 15:43] #567 closed

[2016-11-08 05:33] davidmhill commented on #503
Hi @prustar. I have fixed the code on this page now, so should be displaying properly now.

Again, this will happen to every Tableau chart as soon as you edit the page in Visual mode. WordPress drops a height setting into the code that is wrong (height="150") and causes the issue.

I haven't had a chance to play with the iframe option yet to see if it works, but I will try that this week and let y

[2016-11-08 05:42] Huyeng opened #595 "Some gas blocks not showing maps on detail page"
Logged here: https://github.com/OpenDevelopmentMekong/wp-odm_profile_pages/issues/65

[2016-11-08 06:00] davidmhill commented on #503
@acorbi and @DBishton, I have tried the iframe solution on the surface water page, and it looks OK.
Letting you know in case you notice any issues with it down the track.
[](https://opendevelopmentmekong.net/topics/surface-water/)

I did notice that Tableau now redirects the direct share URL it gives to show the embedded page as well with the chart in a pop-up, but this doesn't seem to affect the

[2016-11-08 08:05] acorbi commented on #503
@davidmhill the iframely plugin is only deployed in PP. Did you try it there?

[2016-11-08 08:17] davidmhill commented on #503
Hi @acorbi. No sorry, I'm not familiar with PP. I used a simple iframe html tag, as we do for the YouTube embeds.

[2016-11-08 08:23] acorbi commented on #503
@davidmhill I see, well. If you found a working solution which fixes that problem with the height, please coordinate with @DBishton to document it on the WIKI and use it consistently for the future.

[2016-11-08 09:10] #595 closed

[2016-11-08 09:10] #593 closed

[2016-11-08 10:31] Huyeng opened #597 "Fixed Undefined message"
![screenshot_9](https://cloud.githubusercontent.com/assets/6613530/20095684/0e33055c-a5d9-11e6-9a1d-124228ba0a1a.jpg)

[2016-11-08 10:32] Huyeng commented on #597
This is the same issue. https://github.com/OpenDevelopmentMekong/wp-odm_theme/issues/588

[2016-11-08 10:37] DBishton opened #598 "Create disclaimer popup to be displayed on ODT and ODL"
Hi @acorbi ,

Please create a disclaimer popup for OD Laos and OD Thailand that contains the following text:

"Open Development Initiative supports a network of organizations co-managing a common open data and knowledge platform to illuminate development trends in the Lower Mekong region at country and regional levels. Would you like to join efforts with us in building a data and information ecosy

[2016-11-08 11:52] #597 closed

[2016-11-08 14:35] acorbi commented on #598
@DBishton @gimmemochi @jpeizer1 This is what I have implemented:

on Laos and Thailand PP sites (http://laos.pp.opendevelopmentmekong.net/ and http://thailand.pp.opendevelopmentmekong.net/) you will see that the disclaimer is now floating on the bottom of the site. It can be dismissed by clicking the button and, since a cookie is stored in the browser when the user dismisses it, it does not appear

[2016-11-08 15:13] acorbi commented on #598
@Huyeng @ChandaraKhun if https://github.com/OpenDevelopmentMekong/wp-odm_theme/pull/600 is merged, this style will be applied to all sites including ODC. What are your thoughts about the layout/style change?

[2016-11-09 14:37] acorbi commented on #598
@DBishton @jpeizer1 @gimmemochi @prustar currently, due to other deployments on PP, the code with the new disclaimers is not available for testing. Please review the screenshots above. If needed I can demo you the implementation.

[2016-11-10 09:21] acorbi commented on #588
Fixed via https://github.com/OpenDevelopmentMekong/wp-odm_theme/issues/599

[2016-11-10 09:21] #588 closed

[2016-11-10 11:44] DBishton commented on #598
@acorbi Many thanks for the work on this. This implementation looks good to me -- thanks for the detailed description in the absence of being able to test them on PP.

@jpeizer1 @prustar @gimmemochi @ChandaraKhun @Huyeng the purpose of this mock-up was to gather opinions on this pop-up disclaimer as described and pictured above, versus a more static approach as is currently in place on ODC -- a pe

[2016-11-11 13:31] acorbi commented on #397
@DBishton I have one idea, which might not fullfil your requirements completely but could be a good middle-ground solution without complex code re-structuration.

How about we tweak the template of the story pages so the **Featured image** associated with it, appears full-width on the top of the story. The rest of the images added to the contents of it would then NOT take the whole width as pictur

[2016-11-13 08:52] jpeizer1 opened #603 "ODC: Opening up Profile links to Archive site in a new window/tab instead of same window"
Would like to suggest that Navigation menu's for links going to the old archive site like census data open up a new window/tab to show this information rather than opening up in the same window as they do for the pages on the site. When you open the old site in the same window the navigation back to the new site is a bit confusing

http://archive.opendevelopmentcambodia.net/census-data/

[2016-11-14 12:59] acorbi opened #604 "On Dataset page paragraph spacing is a little large particularly in this example of a long title:"
![image](https://cloud.githubusercontent.com/assets/14996905/16871324/974042be-4a86-11e6-9e45-0528cfdbf12b.png)

[2016-11-15 11:42] acorbi commented on #572
this issue belongs to https://github.com/OpenDevelopmentMekong/wpckan/issues/189

[2016-11-15 11:42] #572 closed

[2016-11-15 15:04] acorbi commented on #603
@Huyeng @ChandaraKhun @DBishton this should be done under **Appearance > Menu**. Would you agree on doing this change? if so, please do and close this issue

[2016-11-15 15:06] acorbi opened #605 "Enhance data page, providing more filtering functionalities and better statistics"
https://docs.google.com/drawings/d/1TwnOK1lvrbEidrO48MfclkotAP_8HHXeKIksIHcJdSY/edit

[2016-11-15 15:52] #605 closed

[2016-11-15 16:46] #541 closed

[2016-11-16 09:12] acorbi commented on #598
@ChandaraKhun @Huyeng can you please provide some input on the proposed change? thanks

[2016-11-17 10:19] thetaung2 commented on #537
Instead of making the search bar larger only when we click, we can make the larger one as default.
![capture](https://cloud.githubusercontent.com/assets/20394487/20385422/c4b7c480-ace5-11e6-907d-524199fe11f2.PNG)

[2016-11-17 10:30] acorbi commented on #537
@OpenDevelopmentMekong/tech @OpenDevelopmentMekong/editorial @OpenDevelopmentMekong/data any thoughts about @thetaung2's suggestion? Should we make the search bar wider by default?

[2016-11-17 22:15] acorbi opened #608 "Adapt archive page for dataviz and dashboards"
In order to look like the topic's archive page (using 4-col-grid layout)

[2016-11-19 15:54] Huyeng commented on #577
The more link of widget links to home page again now.

[2016-11-20 07:43] #577 closed

[2016-11-20 22:10] acorbi opened #611 "remove ZERO WITDH SPACE on parse_mapping_pairs"
The fucntion **parse_mapping_pairs** available in the **inc/utils/config.php** file should also remove ZWS character (<200B>) from the keys specified on the config, besides trimming the spaces.

[2016-11-20 22:14] #611 closed

[2016-11-21 09:01] thetaung2 opened #613 "lick the links reach to a slightly lower space below that particular title."
when we click the links in dashboard and on topic pages, it leads us to the intended place, but to a lightly lower space below that particular title.
![dashboard](https://cloud.githubusercontent.com/assets/20394487/20476486/9369b100-afff-11e6-936d-f8b5e20065ab.PNG)
![landing page](https://cloud.githubusercontent.com/assets/20394487/20476487/936af2e0-afff-11e6-8be2-1b8f0116a37c.PNG)

[2016-11-21 10:08] DBishton opened #614 "wpckan related records widget on ODMm appears to show ODM colours"
Please change to ODMm theme orange:

![image](https://cloud.githubusercontent.com/assets/1206387/20478520/0f66ad3c-b00d-11e6-960d-1c815cb2e52c.png)

[2016-11-21 10:59] #614 closed

[2016-11-22 22:29] acorbi commented on #608
Fixed and deployed both on PP and PROD

[2016-11-22 22:29] #608 closed

[2016-11-22 22:29] acorbi commented on #603
@Huyeng @ChandaraKhun @DBishton ping

[2016-11-22 22:32] acorbi commented on #565
@DBishton can we use the wp-featured-box to include the big button that @gimmemochi suggests on ODM's homepage to link users to the registration form for the newsletter? Can wp-featured-box posts be added somewhere via shortcode?

[2016-11-22 22:33] acorbi commented on #537
@OpenDevelopmentMekong/tech @OpenDevelopmentMekong/editorial @OpenDevelopmentMekong/data any thoughts about @thetaung2's suggestion? Should we make the search bar wider by default?

@thetaung2 if nobody replies, let's bring your request to discussion in the next network call @gimmemochi

[2016-11-22 22:34] acorbi commented on #503
@davidmhill @DBishton have you guys documented the workaround mentioned in this issue on the wiki? Can we close this issue now?

[2016-11-22 22:36] acorbi commented on #488
Closing this issue now

[2016-11-22 22:36] #488 closed

[2016-11-22 22:37] acorbi commented on #468
@DBishton has your question being already answered? can we close this issue?

[2016-11-22 22:37] acorbi commented on #458
@prustar can this issue still be reproduced? can we close it?

[2016-11-22 22:37] acorbi commented on #456
@prustar can this issue still be reproduced? can we close it?

[2016-11-22 22:38] acorbi commented on #455
@yanoak any updates on this?

[2016-11-22 22:40] acorbi commented on #399
@DBishton you can do this via the **Visual editor** of wordpress, can't you? It would basically involve increasing the fontsize of a certain text, centering it, etc... or are there any extra requirements?

[2016-11-22 22:42] acorbi commented on #398
@DBishton  ping

[2016-11-22 22:47] acorbi commented on #394
@DBishton this is now possible thanks to the wp-widget-pages plugin that I integrated some weeks ago. Now all content types such as stories expose a metabox at the bottom of the editing screen which let's you specify widgets for individual posts in order to override the default widget configuration:

![screenshot from 2016-11-22 23-46-34](https://cloud.githubusercontent.com/assets/384894/20545161/

[2016-11-22 22:47] #394 closed

[2016-11-22 22:49] acorbi commented on #283
Fixed

[2016-11-22 22:49] #283 closed

[2016-11-22 22:51] acorbi commented on #276
Fixed

[2016-11-22 22:51] #276 closed

[2016-11-22 22:53] acorbi commented on #205
Fixed

[2016-11-22 22:53] #205 closed

[2016-11-22 22:54] acorbi commented on #107
Fixed

[2016-11-22 22:54] #107 closed

[2016-11-22 22:55] acorbi commented on #97
Closing. @DBishton can you check that all relevant contents in production sites do have **featured image**? thanks

[2016-11-22 22:55] #97 closed

[2016-11-23 03:39] Huyeng opened #616 "Error the styling of right widget on Forest Cover page"
![screenshot_1](https://cloud.githubusercontent.com/assets/6613530/20550521/0ea79eb2-b169-11e6-836c-4cbacad967a7.jpg)

[2016-11-23 08:16] #616 closed

[2016-11-23 21:47] acorbi opened #618 "Add better statistics on data page"
Use the **wpdash_get_ckan_stats_dataviz()** function exposed on https://github.com/OpenDevelopmentMekong/wp-odm_dash/issues/55 to make data page more attractive.

[2016-11-24 14:32] acorbi opened #620 "Write scripts to migrate existing WP tags from ODC contents"
Implement php file, only accessible to admins, which:

- takes a list of tags and their corresponding metadata fields
- pulls the posts (of all content types) which are featuring each of those tags
- extends the **related_content** and adds individual post meta fields

Write sql query to add metadata automatically by looking for existing keywords on title and description.

[2016-11-25 15:15] acorbi commented on #618
@prustar please review https://github.com/OpenDevelopmentMekong/wp-odm_theme/pull/619. Im assigning this to you for review

[2016-11-25 15:20] acorbi commented on #473
@Huyeng @prustar what is the status of this issue? Can it still be reproduced? can we close it?

[2016-11-28 10:55] thetaung2 opened #621 "Print a map function in map explorer"
Print a map function to enable users to export 1) a single map layer (2) layers that are over-layed to each other - in jpg/png formats.

[2016-11-28 11:08] acorbi opened #622 "Write sql query to add metadata automatically by looking for existing keywords on title and description."
Extend the admin scripts created on #620 in order to loop through the existing posts and in case of finding a certain keyword (specified in the script's configuration), set the appropiate metadata field and extend **related_content**

[2016-11-28 15:54] acorbi opened #624 "Split results by content type on search page"
Currently, the search results presented on the **search page** are presented in an aggregated form and, due to the fact that most of them are news articles, the current implementation seem to have some discover-ability issues.

Example: https://opendevelopmentmekong.net/?s=concession

![screenshot from 2016-11-28 16-52-50](https://cloud.githubusercontent.com/assets/384894/20675001/24e095c8-b58b-11

[2016-11-29 14:08] #620 closed

[2016-11-29 14:38] #622 closed

[2016-11-30 17:03] #618 closed

[2016-12-01 03:22] Huyeng commented on #603
Done!

[2016-12-01 03:22] #603 closed

[2016-12-01 09:50] acorbi opened #627 "Hide country selection filter in data and laws pages for country sites"
Currently, only the corresponding country can be selected on that filter so it does not make sense to show that filter

[2016-12-01 10:14] acorbi opened #628 "404 page should redirect to homepage after 5s"
In order to bring the user to some existing content if it hits the 404 page

[2016-12-01 20:29] jpeizer1 opened #629 "PP Site -- Search Result Labels"
I note in Search results the label NAVIGATION MENU ITEM -- this is confusing to any user. It is a TOPIC on the navigation menu.  BTW the link also results in error:
https://pp.opendevelopmentmekong.net/environment-and-land/

![top-nav](https://cloud.githubusercontent.com/assets/16559612/20810997/f92c577c-b7d9-11e6-90d5-40f36b0bb5d7.JPG)

[2016-12-05 09:16] vatana92 opened #630 "Public announcement on Home page"
There is an error on text content on Public announcement both English & Khmer on Home page.
![pub an](https://cloud.githubusercontent.com/assets/19201022/20879312/bef7323c-bb05-11e6-96e7-dc5ff1a8bd3f.png)
![public ann](https://cloud.githubusercontent.com/assets/19201022/20879313/befbc464-bb05-11e6-8c84-8b11e885a575.png)

[2016-12-05 09:17] vatana92 commented on #630
And it happened to all announcement on Home page.
![ann](https://cloud.githubusercontent.com/assets/19201022/20879413/469c574e-bb06-11e6-9b8e-b2129ab4fb5d.png)

[2016-12-05 09:20] acorbi commented on #630
Thanks @vatana92 , I will focus on this one today.

[2016-12-05 09:24] acorbi commented on #629
@jpeizer1 thanks for raising this, those items should not be there. I'm adding this to https://docs.google.com/document/d/1WhzRfGUroZQwoOu2jIs65yDch_mDNFRt-X43UlznLg0/edit#

[2016-12-05 11:30] Huyeng commented on #598
@acorbi, we will back to you soon after discussion.

[2016-12-05 12:35] acorbi commented on #598
@Huyeng great! looking forward to your feedback. you can deploy the branch impl-598 to test the implementation in poroduction

[2016-12-05 13:04] #627 closed

[2016-12-05 17:41] acorbi commented on #630
@Huyeng can you please give a quick look at this Issue. I have been researching for the possible origin of the problem but could not find anything...

[2016-12-06 01:53] Huyeng commented on #630
Ok. I will have a look and fix it.

[2016-12-06 08:47] Huyeng commented on #630
@acorbi, the problem caused by the get_the_except function that query the content by post ID from the POST post type. If not result, it will get the latest one of POST post type.

[2016-12-06 08:48] #630 closed

[2016-12-06 09:29] Huyeng opened #634 "The translated dataset/publication are not appeared on the Khmer page"
![screenshot_13](https://cloud.githubusercontent.com/assets/6613530/20920059/18fc165a-bbd1-11e6-8820-d1ac2c6f45f4.jpg)

[2016-12-06 10:07] Huyeng opened #635 "Enable Map Setting in Profile post type"
https://github.com/OpenDevelopmentMekong/wp-odm_profile_pages/issues/97

[2016-12-06 14:57] acorbi commented on #634
@Huyeng please ALWAYS provide links to the sites where the issues are reproduced, I cannot know which profile this is so I need to spend unnecessary time looking for it :arrow_right: https://wiki.opendevelopmentmekong.net/public:bug_reporting

[2016-12-06 15:07] acorbi commented on #634
Closing, this belongs to https://github.com/OpenDevelopmentMekong/wp-odm_theme/issues/634

[2016-12-06 15:07] #634 closed

[2016-12-06 15:38] acorbi opened #636 "Present labels and not ids on dataset detail page"
On datasets detail pages like https://opendevelopmentcambodia.net/dataset/?id=eb5380de-ce88-45b3-96a8-6bb9fbe99d30, ids instead of labels are appearing for those fields where we do not store free-text ( document type, language )

![screenshot from 2016-12-06 16-38-00](https://cloud.githubusercontent.com/assets/384894/20931738/5d85b03c-bbd2-11e6-8d1c-be9dc42b6866.png)

[2016-12-06 16:06] acorbi opened #637 "All languages shown if value for current language is not available"
On a dataset detail page such as https://opendevelopmentmyanmar.net/my/dataset/?id=community-forestry-2008-2014, if the burmese language is selected and the multiulingual fields do not have the corresponding value, the frontend will output all the languages when it should fallback to english.

[2016-12-06 16:07] acorbi commented on #637
Closing, this belongs to https://github.com/OpenDevelopmentMekong/wpckan/issues/200

[2016-12-06 16:07] #637 closed

[2016-12-07 03:42] Huyeng commented on #598
@acorbi, after discussing with the team, we prefer to show the notification/disclaimer as what we currently have. However, we like the idea and the function to provide the option to hide/close the notification next to the container.
Using the pop-up disclaimer at the footer, it makes the window to narrow. It seems like to focus/require the users to close the disclaimer if they would like to view l

[2016-12-07 04:32] DBishton commented on #598
@Huyeng Thank you for gathering feedback of the ODC team. Is your suggestion to retain the functionality of the new disclaimer (pop up, dismissable), but change the position on the screen?

[2016-12-07 05:40] Huyeng commented on #598
Add the close function like the either option on the screenshot:

![screenshot_1](https://cloud.githubusercontent.com/assets/6613530/20956037/1d34178c-bc7a-11e6-85b8-799fbb8966ad.jpg)

[2016-12-07 10:02] acorbi commented on #598
@DBishton @Huyeng

- We will keep the notification where it is BUT add the dismissing functionality
- We will show the disclaimer ALSO on  the map explorer
- Alex will do a couple of mockups with white and/or coloured backgrounds which should be reviewed quickly

[2016-12-08 08:51] acorbi opened #638 "Which graphs should be presented on ODC's law's page?"
@tthy has raised following on today's SC Meeting:

![screenshot from 2016-12-08 09-51-35](https://cloud.githubusercontent.com/assets/384894/21003490/ed8deeec-bd2b-11e6-9622-54fd6fe9fe7d.png)

@prustar @tthy which graphs should we then present for ODC? should we present any at all?

[2016-12-08 10:58] acorbi opened #639 "Extend dropdown boxes with autocompletion functionalities"
By adding autocompletion functionalities to dropdown boxes on the filter area, usability would get improved so users do not need to scroll a lot as they currently need to do on the taxonomy filter.

![screenshot from 2016-12-08 09-55-34](https://cloud.githubusercontent.com/assets/384894/21003579/80ac3800-bd2c-11e6-9304-354d9cd0b7e8.png)

For an example of autocompletion functionality, please see t

[2016-12-09 10:30] Huyeng opened #641 "The font size of widget on the right side bar are not consistent"
It is noticed that the font size of widget on either English or Khmer page are not consistent. see the screenshot below:
![screenshot_2](https://cloud.githubusercontent.com/assets/6613530/21045955/fb6e784c-be34-11e6-8c5a-18bec4fe9b2c.jpg)
![screenshot_3](https://cloud.githubusercontent.com/assets/6613530/21045954/fb003562-be34-11e6-9930-fd2c26958c6f.jpg)
![screenshot_4](https://cloud.githubusercon

[2016-12-10 04:31] jpeizer1 commented on #598
@acorbi @dbishton -- Does this issue really require yet another round of consensus opinion on a simple background (and over a  month already to execute)? The current disclaimer has a white background. All we are doing is making it a popup. Rather than spending another 1-2 weeks to gain consensus  and then possibly leaving it for even more weeks while people go off on holiday -- wouldn't it be more

[2016-12-12 06:56] prustar commented on #359
@Huyeng @acorbi -- I previously raised another issue about this way back earlier in the year where has that issue gone???

I don't care what we do as long as those black boxes disappear! They are extremely unattractive and not user friendly, particularly for printing and sharing with others. I don't support any option for hover or otherwise, simply removal and present the image as is, add the text

[2016-12-12 07:45] acorbi opened #643 "Certain values on the dataset detail page should link to other documents"
On **laws**, the values of the following fields should link to the documents they refer to.

- Primary policy reference point
- Previous legal document
- Short notes of change
- Parent document
- Child document
- Other reference or supporting documents

[2016-12-12 08:11] acorbi opened #644 "Separate textual search from filters on laws page"
The textual search on the laws page filters the results on the table without the need of clicking the filter button which only relates to the filter boxes. This is currently confusing and could be improved by separating the box for **textual search** from the one with **filters**

![screenshot from 2016-12-12 09-10-10](https://cloud.githubusercontent.com/assets/384894/21105552/ec5e3600-c08a-11e6-9

[2016-12-12 15:49] acorbi commented on #644
Closing. belongs to https://github.com/OpenDevelopmentMekong/wp-odm_tabular_pages/issues/43

[2016-12-12 15:49] #644 closed

[2016-12-12 17:14] acorbi opened #645 "Hide description of results on data page"
Currently showing for those results which feature notes_translated field.
![screenshot from 2016-12-12 18-14-19](https://cloud.githubusercontent.com/assets/384894/21108831/d6ce1f60-c096-11e6-8429-66074ca29412.png)

[2016-12-12 18:23] #645 closed

[2016-12-13 09:22] gimmemochi opened #647 "[Branding issue] Partner logo on site footer"
@acorbi Base on [partner discussion](https://docs.google.com/document/d/1pQD1Cp8D8UGWH8--r_egRW_30wPyLFqUB6c4wA3PyXU/edit) re branding and inclusion of partner logo on the footer menu of country site instances, we have agreed on the following:

OD country logo + managing organization logo + text “Member of [Open Development Network](https://opendevelopmentmekong.net/background/)”

@Huyeng @thetaun

[2016-12-13 15:34] acorbi commented on #647
@gimmemochi I like it with logos, since they are on the footer, I do not think they are going to be too much. So your proposal looks good to me. @Huyeng @thetaung2 please provide feedback, I'll implement if there is consensus.

[2016-12-14 05:17] DBishton opened #648 "Using JEO category aggregation feature to address navigation issues"
Hi all,

I'd like to suggest an approach to tackling some of the navigation issues presented by the content asymmetry we currently face across the regional and country sites. It cannot address the issue of content asymmetry directly, only developing news summaries, topic pages, database items, announcements, maps and profiles will do that -- but this approach could help maximize exposure of conten

[2016-12-14 05:40] DragonVirus commented on #647
@gimmemochi I like the logo version as well. We have black and white version of Phandeeyar Logo. May be we should put that. @acorbi i will provide you the logo once we agreed on this.

[2016-12-14 07:10] gimmemochi commented on #537
@acorbi I agree with @thetaung2's suggestion for making the search box visible by default. It doesn't have to be bigger.

[2016-12-14 07:38] gimmemochi commented on #648
@DBishton please provide a screenshot/demo for how the "category" page look.

[2016-12-14 07:46] DBishton commented on #648
@gimmemochi Please see the link above for 'environment and natural resources' category on ODM above. Screenshot of that below, with 'topic' tab  visible:

![image](https://cloud.githubusercontent.com/assets/1206387/21173775/0f337690-c20c-11e6-9ec3-4373339b900c.png)

[2016-12-14 07:46] DBishton commented on #648
Note that I propose this screen be redesigned if we are to utilize it more heavily as suggested above.

[2016-12-14 07:57] Huyeng commented on #647
Thanks Pinkie for proposing this.
I will give the feedback to you after discussing with ODC team.

[2016-12-14 08:12] gimmemochi opened #649 "[ODMm] Taxonomic categories should be ordered alphabetically"
@thetaung2 Please check your WordPress taxonomic categories. They should be in the alphabetical order.
cc: @DBishton
Agriculture and fishing page on ODMm
<img width="1280" alt="screen shot 2016-12-14 at 2 36 38 pm" src="https://cloud.githubusercontent.com/assets/6489398/21174351/3ae732d8-c20f-11e6-9f81-7d445d911f66.png">

Agriculture and fishing page on ODC
<img width="1263" alt="screen shot 2016-

[2016-12-14 08:23] gimmemochi opened #650 "[ODMm] Landing page displace under Topics"
@thetaung2 I see that you only display lading pages under Topics menu.
Landing page: **Land** (displayed on Topics menu)
Topic pages: **Agriculture** | **Fishing, fisheries and aquaculture** (not displayed on Topics menu)

However, **Migration**, which is a topic page under **Population and census** landing page, is displayed on Topics menu. Is this intentional?

<img width="1203" alt="screen shot

[2016-12-14 08:48] #598 closed

[2016-12-14 09:01] acorbi commented on #648
@DBishton @gimmemochi In general, I agree with Dan's proposed solution.

I believe presenting the **Category page** is definitely better than the 404 screen.

Enhancing it could be done without much effort:

Correct

Jup, I think, if available, topics (specially the specific topic, if available) should be presented at the top of the site more predominantly. Something like:

![0f337690-c20c-11e6-9e

[2016-12-14 09:09] acorbi commented on #537
@gimmemochi thanks for your feedback

@DBishton @Huyeng @prustar what are your thoughts on this?

In case there is consensus, and in order to make the search bar always appear open, following setting needs to be tweaked:

![screenshot from 2016-12-14 10-06-35](https://cloud.githubusercontent.com/assets/384894/21176038/5993c694-c1e5-11e6-9e7b-a1baa89931a6.png)

- Go to **Appearance > Menus** on eac

[2016-12-14 10:29] #639 closed

[2016-12-14 10:43] jpeizer1 commented on #648
This solution to use categories page more appropriately is a good one but should not be conflated with solving the more simple and straightforward PAGE NOT FOUND issue. This Category solution should be dealt with in an upcoming version.

1) This actually does not solve the primary problem PAGE NOT FOUND error when clicking between sites  -- as Dan suggests above. But that is the reason the navigat

[2016-12-14 10:49] acorbi opened #651 "Allow metadata form to be downloaded or accessible to user"
@acorbi - Feedback from ODMyanmar launch from users suggest that we make the metadata template that is attached to all records downloadable for their future reference with the data/information they accessed. Suggest to include a download metadata button that generates either a text or XML formatted file for users to download when they are accessing records.

@thetaung2 - thanks for raising, was th

[2016-12-14 11:00] vatana92 opened #652 "No link to parent profile page"
![screenshot_7](https://cloud.githubusercontent.com/assets/19201022/21179542/1928b74e-c227-11e6-8851-9189accd8d9b.png)

[2016-12-14 11:01] #651 closed

[2016-12-14 11:03] jpeizer1 opened #654 "Disclaimer X button doesn't work in ODC"
X Button doesn't work

![capture](https://cloud.githubusercontent.com/assets/16559612/21179653/01646400-c1c3-11e6-9e99-f037dbadc0f0.JPG)

In https://opendevelopmentcambodia.net/topics there is no X entirely

![capture1](https://cloud.githubusercontent.com/assets/16559612/21179664/0a33613a-c1c3-11e6-82ff-137768bb77f0.JPG)

[2016-12-14 11:14] thetaung2 commented on #537
Done!

[image: Inline image 1]

ᐧ

On Wed, Dec 14, 2016 at 3:39 PM, Alex Corbi <notifications@github.com>
wrote:

--
Best,
Thet Aung

Phandeeyar: Myanmar Innovation Lab
11th Floor, "Mac Tower" Building, 561 Merchant Road, Yangon
Facebook <https://www.facebook.com/phandeeyar> | Twitter
<https://twitter.com/phandeeyar> | Instagram
<https://instagram.com/phandeeyar> | Website <http://www.phandeeyar.o

[2016-12-14 11:27] Huyeng opened #655 "Some texts on detail page are not translated"
https://opendevelopmentcambodia.net/km/dataset/?id=http-web-archive-org-web-20150708083757-http-www-cdri-org-kh-webdata-download-wp-wp63e-pdf

![screenshot_6](https://cloud.githubusercontent.com/assets/6613530/21180312/f50fcf4c-c22a-11e6-826d-078b665071a8.jpg)

[2016-12-14 11:30] acorbi commented on #654
hi @jpeizer1 I could reproduce the issue but then it went away by refreshing with CTRL+F5. could be a caching issue.

Would you please try refreshing the site, then it should be fine again:

![screenshot from 2016-12-14 12-29-58](https://cloud.githubusercontent.com/assets/384894/21180402/13ebd4a6-c1f9-11e6-9666-2ec2cd3730f1.png)
![screenshot from 2016-12-14 12-30-11](https://cloud.githubuserconten

[2016-12-14 11:36] acorbi commented on #537
@thetaung2 Can you please wait until @Huyeng @prustar and @DBishton give their input on this? If we all agree, we can adapt the style of the search bar on all the sites at the same time, for consistency.

please undo the change, we will complete this Issue soon, promised.

[2016-12-14 11:43] acorbi commented on #655
@Huyeng On https://data.opendevelopmentmekong.net/api/3/action/package_show?id=http-web-archive-org-web-20150708083757-http-www-cdri-org-kh-webdata-download-wp-wp63e-pdf you can see that:

- Publication date is not a multilingual field ("marc21_260c)
- Publisher only has been entered in english (marc21_260b)

- In order to be able to localize **Document type** we need first to fix https://github.c

[2016-12-14 11:51] Huyeng commented on #655
Issue moved to other repository.
https://github.com/OpenDevelopmentMekong/wpckan/issues/204

[2016-12-14 11:51] #655 closed

[2016-12-14 11:53] Huyeng commented on #636
How about the resource title?
The resource's title is translated, but the translated texts are displayed.
WP:
https://opendevelopmentcambodia.net/km/dataset/?id=documentation-on-how-to-record-civil-registration-chapter-ii-birth-registration

Datahub:
https://data.opendevelopmentmekong.net/km/library_record/documentation-on-how-to-record-civil-registration-chapter-i-overview

[2016-12-14 12:00] DBishton commented on #537
@acorbi @thetaung2 I'm good with the default being the expanded bar as you suggest above, @acorbi.

[2016-12-14 12:07] acorbi commented on #636
this belongs to https://github.com/OpenDevelopmentMekong/wpckan/issues/205, closing

[2016-12-14 12:27] acorbi commented on #537
thanks @DBishton for feedback.

@Huyeng do you agree with doing this change?

[2016-12-14 15:03] jpeizer1 commented on #654
Yes thanks CTRL F5 worked and I'd strongly suggest keeping the background white. that works best to keep the whole message more in the background.

[2016-12-14 15:30] acorbi commented on #654
@jpeizer1 the background stays as it is now. closing this

[2016-12-14 15:30] #654 closed

[2016-12-14 15:33] acorbi commented on #652
thanks @vatana92 .

@Huyeng can you implement this one? you have more experience with the breadcrumbs.

[2016-12-14 15:35] #636 closed

[2016-12-14 15:39] acorbi commented on #643
This belongs to https://github.com/OpenDevelopmentMekong/wpckan/issues/207, closing.

[2016-12-14 23:46] gimmemochi opened #656 "[Interactive map] Enable English placenames on the interactive map when users are on EN pages on country sites"
@Huyeng @acorbi Is it possible to enable placenames in English on EN pages of country sites? This is especially important since we do not have province, district, commune boundaries available as a layer (we used to have them n ODC old site. I'm aware that we have Census 2008 data on the map, which presented as choropleth map).

This issue came up when I demo the site to small donor group in the U.

[2016-12-15 03:13] Huyeng opened #657 "Dataset Detail: Reduce size of tags and category in dataset detail page to be consistent"
The font size of tags and category on dataset detail is too large, it is requested to reduce size to be consistent as other pages eg. https://opendevelopmentcambodia.net/news/cooperation-agreement-with-china/#!/story=post-100573

![screenshot_8](https://cloud.githubusercontent.com/assets/6613530/21210619/271672b4-c2af-11e6-87db-5f0bfb3954b2.jpg)

[2016-12-15 03:53] Huyeng opened #659 "Remove the organization under the dataset title on the detail page"
It doesn't make sense to show the name of the organization under the dataset title on the country's website. Suggest to take it off on country's websites.
![screenshot_9](https://cloud.githubusercontent.com/assets/6613530/21211259/a5552850-c2b4-11e6-9f2c-783a452a2387.jpg)

[2016-12-15 05:57] #659 closed

[2016-12-15 09:00] thetaung2 commented on #649
Hi @DBishton, How can we change that? We didn't notice that the taxonomies are in alphabetical order for ODM and other countries, hence we were a bit struggling to go through them and select the relevant ones in the wordpress.

[2016-12-15 09:05] acorbi commented on #649
Hey @thetaung2 I believe I can answer this question.

On wordpress, under **Topics > Taxonomy order** you can specify the order of the taxonomies you want to achieve. See https://pp.opendevelopmentmyanmar.net/wp-admin/edit.php?post_type=topic&page=to-interface-topic

![screenshot from 2016-12-15 10-05-19](https://cloud.githubusercontent.com/assets/384894/21217731/ff2382a2-c2ad-11e6-8e5d-9bc1611839

[2016-12-15 09:23] thetaung2 commented on #649
I don't have ODM taxonomy and Taxonomy order under Topics.

![screenshot3](https://cloud.githubusercontent.com/assets/20394487/21218301/6a153bac-c2de-11e6-9936-a740439cf4df.png)

[2016-12-15 10:41] thetaung2 commented on #647
For ODMm team, we prefer the logo version (as Jiali also mentioned earlier).

[2016-12-15 17:42] acorbi opened #661 "Enhance summary of # of records by type"
Currently, the data pages present the number of records by record type (dataset, library records, laws records) using the following graph:

![screenshot from 2016-12-15 18-40-09](https://cloud.githubusercontent.com/assets/384894/21235160/ebc093b0-c2f5-11e6-8568-893f6a634690.png)

@prustar suggests to present this information in a slight different manner:

![screenshot from 2016-12-15 18-40-43](htt

[2016-12-15 17:46] acorbi commented on #638
@tthy @prustar FYI: Currently the "number of records by language" graph of the  laws page on ODC http://opendevelopmentcambodia.net/tabular/laws-profiles-and-agreements/ only presents **English** and **Khmer** as per Try's suggestion.

@tthy @prustar Should we keep those graphs? Reduce their prominency by putting them below the table of results? Remove them at all? Your comments are welcome.

[2016-12-15 17:55] acorbi opened #662 "Implement Treemap for taxonomic navigation"
Currently, on the data pages (https://opendevelopmentmekong.net/data), there is a drill-down of the number of records by taxonomic term, implemented via a column chart.

![screenshot from 2016-12-15 18-54-40](https://cloud.githubusercontent.com/assets/384894/21235649/f2c2384c-c2f7-11e6-8dfd-ef28bc5ca167.png)

@prustar proposes to implement this navigation as a Treemap as pictured below:

For imple

[2016-12-15 19:23] acorbi commented on #657
Implemented and deplyoed. closing...

[2016-12-15 19:23] #657 closed

[2016-12-16 09:33] acorbi commented on #649
@thetaung2 I have adapted the permissions for this functionality, can you please try now?

[2016-12-17 17:42] thetaung2 commented on #649
Done, but I were not see some categories were not displayed in the pages,
 - such as Disaster and emergency response
<https://opendevelopmentcambodia.net/topics/disasters-and-emergency-response/>
, Law and judiciary
<https://opendevelopmentcambodia.net/topics/law-and-judiciary/>, Science
and technology
<https://opendevelopmentcambodia.net/topics/science-and-technology/>. (They
are present in wordp

[2016-12-19 04:03] Huyeng commented on #652
Sure.

[2016-12-19 07:17] Huyeng commented on #652
@vatana92, hope this is what you are expected.
![screenshot_2](https://cloud.githubusercontent.com/assets/6613530/21304153/cea4b7e0-c5f5-11e6-8cf5-4e7575cb93a8.jpg)

[2016-12-19 09:49] #652 closed

[2016-12-19 10:11] acorbi commented on #537
@Huyeng do you agree with doing this change?

[2016-12-19 22:17] acorbi commented on #649
@thetaung2 @gimmemochi this should be fixed now. Im closing this issue, please re-open and comment if it is not the case

[2016-12-19 22:17] #649 closed

[2016-12-20 02:18] Huyeng commented on #537
That's what ODC team prefers too as well.

[2016-12-20 03:09] Huyeng opened #666 "Article on the news archive page doesn't show if it contains short content"
It is noticed that on Khmer News archive page, the post of news doesn't display the content if it contains short texts eg."យោង​ទៅ​តាម​របាយការណ៍​មួយ​ចេញ".
https://opendevelopmentcambodia.net/km/news/#!/story=post-100637
![screenshot_1](https://cloud.githubusercontent.com/assets/6613530/21336986/ed9a051e-c69b-11e6-9bc1-1d6892740fb0.jpg)

[2016-12-20 05:27] Huyeng opened #668 "Law page: Font-size issues of the search button on Khmer site"
![screenshot_3](https://cloud.githubusercontent.com/assets/6613530/21339180/aa03b6f6-c6af-11e6-899d-1ab8baeca8c3.jpg)

[2016-12-20 05:52] prustar commented on #537
@acorbi  -- it is possible on the new data pages to have a larger search bar option and it would make sense here. The reference that @thetaung2 raised relates to allowing users to search the data. This is in line with our discussions re the search function and the fact that users are not clear on what results it will produce. If we make the search larger in the data page it's obvious that they wil

[2016-12-20 06:37] thetaung2 commented on #537
@prustar, It'd be great to have a larger search bar at the home page too.
ᐧ

On Tue, Dec 20, 2016 at 12:22 PM, prustar <notifications@github.com> wrote:

--
Best,
Thet Aung

Phandeeyar: Myanmar Innovation Lab
11th Floor, "Mac Tower" Building, 561 Merchant Road, Yangon
Facebook <https://www.facebook.com/phandeeyar> | Twitter
<https://twitter.com/phandeeyar> | Instagram
<https://instagram.com/phande

[2016-12-20 07:23] Huyeng commented on #648
I think it is quite confuse to the users if the contents of the topic pages differently presented. How do you feel when you click the any topic  pages, sometimes, topic pages are shown, and sometimes other contents/posts are shown instead.

a) instead of topic pages under the 'topics' menu -- topic pages would be clearly emphasised in the case that they exist for that category, if not then the use

[2016-12-20 07:48] Huyeng commented on #656
The standard tile server of OSM tries to display labels in the local language. The tiles already contain the labels, so you can't remove them afterwards.  Unless, there is a different tile server which displays English labels to use. Then, we can switch the different tires of map for different sites. @prustar, do you know if there is tires of OSM that available for both English and localization?

[2016-12-20 08:05] #643 closed

[2016-12-20 08:25] prustar commented on #359
@acorbi -- regarding steve's version could you please mock up a few different ways to present the text as some text strings are long such as "Environment and Natural Resources"  and if we are also going to present the time stamp then it might obscure the image.

1. The same example you have presented but without the boarder
2. The text on the bottom and top over the image (title and time stamp).
3

[2016-12-20 09:33] acorbi commented on #537
@thetaung2 @gimmemochi @DBishton @prustar @ChandaraKhun @Huyeng I have changed the layout of the search bar so it is always expanded. Having the sidebar take more width might introduce some complications in terms of layout.

@thetaung2 @prustar can you please provide some mockups describing visually how you would like the search bar to be layout?

 I have also set the placeholder text to:

"Search

[2016-12-20 09:38] #635 closed

[2016-12-20 09:39] #668 closed

[2016-12-20 10:32] acorbi commented on #648
Hi @Huyeng thanks for your feedback. yes, implementing @jpeizer1's suggestion would be pretty quick ( ~30mins)

@thetaung2 @yanoak would you like to provide your thoughts on this navigation Issue?

[2016-12-20 10:33] acorbi commented on #359
Ok will do

[2016-12-20 11:23] thetaung2 commented on #648
Hi @acorbi , we experience the same here as @Huyeng. Users think it is the site error when they clicked on a topic and saw 404 Error. Agree to implement @jpeizer1's suggestion as an initial step.

[2016-12-20 18:12] #648 closed

[2016-12-20 18:13] acorbi commented on #648
@jpeizer1 @DBishton @gimmemochi @Huyeng @thetaung2 @prustar I have changed the code so the user is taken to the homepage of the country site corresponding to the icon clicked. It has been currently deployed in PP. Please test and re-open this Issue in case you notice any problem.

[2016-12-21 03:02] Huyeng commented on #648
@acorbi - I tested on PP,  the icons of the country was updated to the homepage of the country on click whether the page of the other country is existing or not.

I would like to suggest that if the same page of other country site is available, it should be presented it, but if it is not available, it should redirect to the homepage instead.
For example, if the users on the land page of ODC, when

[2016-12-21 03:45] Huyeng opened #671 "Enhance Khmer translated on ODC website"
On Khmer site, there are some English texts have not been translated.
For example:
![screenshot_5](https://cloud.githubusercontent.com/assets/6613530/21376807/a304ec38-c76a-11e6-800d-435e5ba78961.jpg)

[2016-12-21 11:53] acorbi commented on #648
@Huyeng I understand your suggestion. I think it could be an interesting alternative to the current implementation.

@jpeizer1 @prustar @thetaung2 @gimmemochi @DBishton what huyeng proposes is:

When the user clicks on the country icon
- and the content is available -> take the user to the content
- if not available -> show a 404 screen informing the user that it is going to be taken to the homepa

[2016-12-21 11:56] #671 closed

[2016-12-22 05:24] #579 closed

[2016-12-22 05:58] Huyeng opened #674 "Add the label of "Khmer translated"or "English translated" by ODC"
It is requested to add the label to inform the users about the translated article of the news as the archive site of ODC.  It is quick important for ODC and other OD team.

http://archive.opendevelopmentcambodia.net/kh/news/federation-mulls-supporting-rice-export-price/
![screenshot_9](https://cloud.githubusercontent.com/assets/6613530/21416547/411ccd2e-c846-11e6-8738-2c1e284efadf.jpg)

[2016-12-22 08:23] Huyeng opened #675 "The more link of ODM Contents same category doesn't work"
![screenshot_17](https://cloud.githubusercontent.com/assets/6613530/21419502/9385baa8-c85a-11e6-8e33-2dbc4f1e95ca.jpg)
https://opendevelopmentcambodia.net/profiles/access-to-public-service/

[2016-12-22 08:24] #666 closed

[2016-12-22 08:48] #675 closed

[2016-12-22 10:55] acorbi commented on #359
Hi @OpenDevelopmentMekong/tech @OpenDevelopmentMekong/editorial @OpenDevelopmentMekong/data

I have prototyped 3 proposals, please indicate which one is your preferred:

# Option A: Semi-transparent bright background on title and post meta

![screenshot from 2016-12-22 11-35-09](https://cloud.githubusercontent.com/assets/384894/21423418/3ab06d0a-c83d-11e6-97bd-fcbac4f9c359.png)

![screenshot from

[2016-12-22 10:59] Huyeng opened #677 "Enhance the table on topic page"
![screenshot_1](https://cloud.githubusercontent.com/assets/6613530/21423556/4b348566-c870-11e6-89fc-335c59c2ad2a.jpg)

https://opendevelopmentcambodia.net/?post_type=profiles&p=100673&preview_id=100673&preview_nonce=143caab85e&preview=true

[2016-12-22 11:02] Huyeng commented on #677
it is not the topic page, but the profile page.
Moved it to https://github.com/OpenDevelopmentMekong/wp-odm_profile_pages/issues/110

[2016-12-22 11:02] #677 closed

[2016-12-23 02:09] gimmemochi commented on #359
I prefer option A. Thanks, Alex.

[2016-12-23 06:55] Huyeng opened #684 "Announcement: Styling errror on Khmer page"
https://opendevelopmentcambodia.net/announcements
![screenshot_5](https://cloud.githubusercontent.com/assets/6613530/21448618/5c9741f2-c917-11e6-8eb8-e9e2cd504e82.jpg)

[2016-12-23 07:23] #684 closed

[2016-12-23 08:32] Huyeng commented on #641
The issue is existing again.

[2016-12-23 09:53] #641 closed

[2016-12-23 16:44] #661 closed

[2016-12-23 17:47] jpeizer1 commented on #359
Honestly I like A & C -- I prefer C for the background with "box glow" only on title but would prefer if the Title background was semi-transparent as in A -- this particularly helps with long titles so the whole image isn't blocked out.

[2016-12-24 11:40] Huyeng opened #690 "The font size of the list of the taxonom and document type should be bigger"
![screenshot_18](https://cloud.githubusercontent.com/assets/6613530/21466800/5fa14ebe-ca08-11e6-9401-a6ca68c48e49.jpg)

[2016-12-24 13:21] #690 closed

[2016-12-25 05:46] Huyeng opened #692 "Map is not shown on Safari in Map Explorer and Profile"
<img width="1141" alt="screenshot at dec 25 12-43-20" src="https://cloud.githubusercontent.com/assets/6613530/21469872/211a0814-caa0-11e6-86a3-436878c92bdd.png">

[2016-12-25 10:25] #692 closed

[2016-12-25 14:11] Huyeng opened #694 "The Filter of post type on Advance search box is not translated"
See here: https://opendevelopmentcambodia.net/km/?odm_advanced_nav=1&odm_filter_=1&odm_filter_s=តំបន់ការពារធម្មជាតិ&odm_filter_date_start=&odm_filter_date_end=
<img width="1155" alt="screenshot at dec 25 21-07-32" src="https://cloud.githubusercontent.com/assets/6613530/21471458/9ab99068-cae6-11e6-80c9-bfcab3ae23ef.png">

[2016-12-26 07:43] acorbi commented on #694
Basically, you need to translate the strings on https://www.transifex.com/open-development-mekong/odm-wp-odm_theme/translate/#km/enpo/95085025 and deploy the changes

[2016-12-28 18:21] acorbi opened #695 "Change base map for map explorer and thematic maps to layers which do not contain conflictive data"
@hailyodv commented on gitter:

@prustar ping

[2016-12-29 00:32] prustar commented on #359
@acorbi - you didn't mock up options 4 & 5 which I suggested?

The boxes are small and the text covers most of the images which I don't think is attractive; except for LAND because this string is small. I tried to find the previous issue I raised on this again but could not. It had in it other examples and styles that suggested enhancements to the shading and alternatively placement of the text be

[2016-12-29 02:45] Huyeng commented on #694
On the Transifex, the words such as the "Profiles" is already translated (see the screenshot below), but it doesn't translated as the screenshot above.

 ![screenshot_23](https://cloud.githubusercontent.com/assets/6613530/21535700/33dd96e2-cdab-11e6-9854-6d3d19a72562.jpg)

[2016-12-29 02:45] Huyeng commented on #694
No worry, @acorbi. I'm back, so I can fix it myself.

[2016-12-30 15:16] jpeizer1 commented on #359
@corbi I prefer BBC white lettering in box to save space but I assume they select images to insure dark background against white lettering. Prefer this to dark letters on white box effect.

[2016-12-30 15:48] acorbi commented on #359
@jpeizer1 yes, I guess they test the images first before they go live to check if they fit well. that is something that we could also integrate on the editorial processes although it might make the publishing process a bit more time consuming...

another idea would be to darken the background behind the text so it is more readable. I will do a test on PP and share some screenshots for everyone to

[2016-12-30 17:18] jpeizer1 commented on #359
@acorbi -- you could also do a drop shadowing of the white letters if possible so as not t have a boxy background look:  https://www.youtube.com/watch?v=W5thsPPoiyU

[2017-01-03 09:03] Huyeng opened #696 "The map on profile page won't show up after updated"
Logged in https://github.com/OpenDevelopmentMekong/wp-odm_profile_pages/issues/122

[2017-01-03 09:53] #696 closed

[2017-01-05 01:35] prustar commented on #359
@acorbi @jpeizer1 -- I don't think they are selecting the photos specifically to fit the text, I think the shade affect helps them to darken the bottom of the image but still allowing a central transparent line to illuminate the colour of the image. I took the screen shot specifically prior to the page loading so that you could see the tinting shade and pattern they use in both examples.

[2017-01-05 03:19] Huyeng commented on #359
@acorbi, all the proposed options above are looking fine, however, I'm afraid that those styling may not look good on the map catalogue that have different colors, white background and small texts.
I would like to suggest to use the map catalogue and topic page/profile page for design.

[2017-01-05 12:11] #359 closed

[2017-01-06 17:20] jpeizer1 commented on #359
@acorbi @prustar Agree with Pyrou the shading filter over the image is what allows the clear text. The none-loaded images showing only the filter layer (above to the far right opposite the Sec of State Kerry photo) demonstrate this.  Any image could be loaded under that layer  for the same effect. In fact, that's a pretty cool effect to copy ;-)

[2017-01-08 21:04] #499 closed

[2017-01-09 03:42] Huyeng opened #705 "The layer menu on Map explorer is hidden when the notification is appeared"
A few menu was hidden, the users can see them unless the notification is closed.
![screenshot_10](https://cloud.githubusercontent.com/assets/6613530/21756766/122009da-d658-11e6-9576-08eea5c55b9c.jpg)

Closed the notification:
![screenshot_11](https://cloud.githubusercontent.com/assets/6613530/21756776/458453bc-d658-11e6-8162-05c82ed5c3ae.jpg)

[2017-01-09 04:11] Huyeng commented on #705
@acorbi - Per discussion with you, you suggested to keep the notification and enable scroll bar for this page. However, back to the beginning of the designing idea, everyone (OD team) would like to keep the map explorer fix to one screen. Until now the idea has not changed for ODC team, they still suggest to remove or hide the notification on Map explorer as before. I knew that the idea to display

[2017-01-09 04:33] Huyeng opened #706 "Suggest to update the link of read more on widget link to the category instead of post type page if have."
https://opendevelopmentcambodia.net/profiles/access-to-public-service/

![screenshot_12](https://cloud.githubusercontent.com/assets/6613530/21757299/297eddac-d65f-11e6-972a-244b0843093d.jpg)

[2017-01-10 03:26] Huyeng commented on #628
Can the issue close?

[2017-01-10 03:39] Huyeng commented on #393
I thought that the issue is no longer exist.

[2017-01-10 03:39] #393 closed

[2017-01-10 03:40] Huyeng commented on #473
Close it now.
You can reopen if the issue is still existing.

[2017-01-10 03:40] #473 closed

[2017-01-10 04:12] Huyeng commented on #301
It have done long time ago.

[2017-01-10 04:12] #301 closed

[2017-01-10 04:16] Huyeng commented on #274
The menus are added main navigation, so the users can access to those page.
![screenshot_13](https://cloud.githubusercontent.com/assets/6613530/21793711/47165e72-d726-11e6-8277-718c0cf5f90a.jpg)

[2017-01-10 04:16] #274 closed

[2017-01-10 04:21] Huyeng commented on #565
ODC is using the email icon for subscription.
![screenshot_14](https://cloud.githubusercontent.com/assets/6613530/21793774/e401613c-d726-11e6-8815-e80f203a10d6.jpg)

[2017-01-10 10:00] acorbi commented on #705
@prustar @DBishton @gimmemochi any comments on this?

[2017-01-10 10:02] acorbi commented on #628
yeah, let's close it

[2017-01-10 10:02] #628 closed

[2017-01-10 10:27] Huyeng commented on #493
I would like to close it right now. Please reopen or log the new one if needs.

[2017-01-10 10:27] #493 closed

[2017-01-11 08:10] thetaung2 commented on #650
This is corrected

![menu](https://cloud.githubusercontent.com/assets/20394487/21840431/e552a5ec-d80b-11e6-9bed-6256dfbc8477.png)

[2017-01-11 08:15] Huyeng opened #708 "Enhance the styling of category or document type chosen drop to be consitent"
It is noted that the styling of category or document type chosen drop between the law and odm-advance search are not consistent, please see.
https://opendevelopmentcambodia.net/tabular/laws-profiles-and-agreements/
https://opendevelopmentcambodia.net/?odm_advanced_nav=1

[2017-01-11 08:21] acorbi commented on #650
@gimmemochi can we then close the issue?

[2017-01-11 08:21] thetaung2 commented on #650
Yes.

On Wed, Jan 11, 2017 at 2:51 PM, Alex Corbi <notifications@github.com>
wrote:

--
Best,
Thet Aung

Phandeeyar: Myanmar Innovation Lab
11th Floor, "Mac Tower" Building, 561 Merchant Road, Yangon
Facebook <https://www.facebook.com/phandeeyar> | Twitter
<https://twitter.com/phandeeyar> | Instagram
<https://instagram.com/phandeeyar> | Website <http://www.phandeeyar.org/>

[2017-01-11 08:48] #650 closed

[2017-01-11 10:09] Huyeng commented on #604
Fixed.

[2017-01-11 10:09] #604 closed

[2017-01-11 11:10] #708 closed

[2017-01-11 11:36] acorbi commented on #470
Fixed via https://github.com/OpenDevelopmentMekong/wp-odm_theme/pull/707

[2017-01-11 11:36] #470 closed

[2017-01-12 10:04] acorbi opened #713 "Add watermark icon when no image is available on grid layout"
![screenshot from 2017-01-12 11-04-28](https://cloud.githubusercontent.com/assets/384894/21885219/f0c3b780-d8b6-11e6-9465-47606563b68a.png)

[2017-01-12 10:54] #713 closed

[2017-01-16 11:06] acorbi commented on #706
as discussed, decide to which category page the user will be taken if the post/profile/news article/etc... has several categories.

[2017-01-16 11:37] acorbi opened #716 "Should we add a filter box to news, map catalogue and other pages which do not have it?"
ODC team suggested to offer a filtering box to users on:

- Map catalogue: https://pp.opendevelopmentcambodia.net/layers
- News archive: https://pp.opendevelopmentcambodia.net/news

Although the users should be encouraged to use the main search function, it would be positive to give the users the possibility to filter out results presented on these pages. Possible filters might be:

- Textual sear

[2017-01-16 11:40] acorbi opened #717 "Should we rename Taxonomy to Category"
ODC suggested that taxonomy is a bit confusing and users would understand better if we use the word Category across the whole front-end (filters, etc...)

@prustar @ChandaraKhun @DBishton @gimmemochi please add your comments

[2017-01-17 11:38] acorbi opened #718 "Filter dropdown conflicts with main header when scrolling down"
![screenshot from 2017-01-17 12-36-56](https://cloud.githubusercontent.com/assets/384894/22018966/b0d67c62-dcb1-11e6-83fe-1960f7b08b9d.png)

[2017-01-17 11:40] #718 closed

[2017-01-18 04:57] prustar commented on #717
@acorbi -- this was raised by user testing as well, I'm compiling these results for implementation now. English speakers raised this to me recently as well.

We should use topic as this is what we use on the main menu and actually quite clear about what we are talking about. I don't think there's a need to change the terminology on the back end just everywhere it appears on the front end.

This al

[2017-01-18 05:06] prustar commented on #716
@acorbi in the original spec for the data page, the cover page would direct people to geospatial datasets and other locations for finding data. The map catalogue when fully developed should have search and filter options. We can implement a basic version for the ODC map catalogue page in the interim till we have a fully functional catalogue as ultimately it does make sense.

Not sure how or what a

[2017-01-18 05:09] prustar opened #720 "Search flaw"
Google search for socfin KCD - brings up this page https://opendevelopmentcambodia.net/tag/socfin-kcd/# which is from ODC.

but when you do the exact search in ODC using same phrase it doesn’t bring up the same results: https://opendevelopmentcambodia.net/?s=socfin-kcd only one of the six items listed in the google search.

This is strange?

[2017-01-18 05:37] gimmemochi commented on #717
@acorbi -- I agree with ODC's proposed idea. We made that changed on ODC
Gen I prior to migrating to Gen II.
ᐧ

*Penhleak (Pinkie) Chan* | Regional Network and Partnership Support Manager
| Open Development Initiative, East-West Management Institute | 43 Street
208, Phnom Penh | m: +855 17 340 088 | t: @penhleakchan | s: pinkie_b612 |
opendevmekong.net | OD Mekong Twitter <https://twitter.com/open

[2017-01-18 07:40] acorbi commented on #717
Thanks @gimmemochi and @prustar for your comments. I believe we have agreement here. @thetaung2 @yanoak what are your thoughts on this?

@prustar Please share with me once done and I will coordinate its implementation

[2017-01-18 10:23] Huyeng commented on #706
Discussed with the editors, they suggested that when click more, it will bring to the category page, but they also suggested to improve the category page to make it looks better.
eg
https://opendevelopmentcambodia.net/category/agriculture-and-fishing/agriculture/agricultural-commodities-processing-and-products/crop-products-and-commodities/sugarcane-taxonomy/?queried_post_type=news-article

[2017-01-18 10:52] Huyeng opened #721 "Enhance the category page"
Suggest to enhance the category page, especially to remove the space as the screenshot below, and add the pagination.
https://opendevelopmentcambodia.net/category/agriculture-and-fishing/agriculture/agricultural-commodities-processing-and-products/crop-products-and-commodities/sugarcane-taxonomy/?queried_post_type=news-article

![screenshot_6](https://cloud.githubusercontent.com/assets/6613530/220

[2017-01-18 11:00] acorbi commented on #706
Related: https://github.com/OpenDevelopmentMekong/wp-odm_theme/issues/721

[2017-01-18 11:02] #706 closed

[2017-01-18 17:25] acorbi commented on #647
@Huyeng any feedback from the ODC team so far?

[2017-01-19 00:15] prustar commented on #705
@acorbi @Huyeng -- I raised before when ODC will be removing the box? It's been a while now. This would be the simplest solution.

[2017-01-19 00:17] prustar commented on #621
@thetaung2 @acorbi -- This is a very old outstanding request since before the launch of ODM -- raised by users and ODC previously -- We need to implement now and stop delaying.

[2017-01-19 01:50] prustar commented on #647
Looks good.

[2017-01-19 02:34] prustar commented on #638
@acorbi -- left up to designer now once we have them on board. Closing.

[2017-01-19 02:34] #638 closed

[2017-01-19 03:03] prustar commented on #720
@acorbi -- ODC does have the related Socfin legal documents but they are listed under 2 local shell companies - Sethikula and Varanasi. So what I did to find the documents:

1. I searched socfin in the ELC's profile and it brought up two results - one is Varanasi and the other Mondul Agri-Resource Co., Ltd - the later doesn't have anything to do with socfin and it's unclear why it is presented in

[2017-01-19 03:07] prustar commented on #720
searching for KCD which stands for Khaou Chuly Development Co. Ltd. a Cambodian shell for Socfin yields no results either...

[2017-01-19 03:15] prustar commented on #458
Tried again on Chrome and Firefox and seems to be ok now. Closing.
![image](https://cloud.githubusercontent.com/assets/14996905/22092447/b7ae39ac-de51-11e6-9347-302af1351333.png)

[2017-01-19 03:15] #458 closed

[2017-01-19 04:16] Huyeng opened #724 "Warning of breadcrumbs appeared on category page"
Warning: substr() expects parameter 1 to be string, object given in /var/www/html/wp-content/themes/wp-odm_theme/inc/utils/breadcrumbs.php on line 112

https://opendevelopmentcambodia.net/category/economy-and-commerce/

[2017-01-19 04:32] prustar commented on #706
@Huyeng @acorbi  -- Interesting didn't know this category page existed.

But it doesn't allow for users to down the taxonomy tree just up? This could be useful to implement and display the results for data? Just thought.

[2017-01-19 04:47] Huyeng commented on #705
@prustar -  Removing the notification can solve the current problem, but it is not the problem solving. Let thing, if there is other notification besides this, the problem will be happened again.

@prustar - do you prefer to fix the map to the screen?

[2017-01-19 11:30] #724 closed

[2017-01-19 11:32] #705 closed

[2017-01-20 05:11] thetaung2 commented on #717
@acorbi -- We agree with ODC's idea as awell. we should use the same word category across the front end.

[2017-01-20 08:53] #721 closed

[2017-01-24 14:15] acorbi commented on #647
@Huyeng any feedback from the ODC team so far?

[2017-01-24 21:43] jpeizer1 opened #727 "Law Judiciary Link Incorrect on Home Page Slider ODMEKONG"
Read More... Link Should be: https://opendevelopmentmekong.net/topics/law-and-judiciary/
(all the other topics like Science, Social, Infrastructure on slider go to their related topic link)

Instead it goes to Map-explorer (its neighbor on the slider)

![law-jud](https://cloud.githubusercontent.com/assets/16559612/22268047/feed798a-e253-11e6-9d4e-ee427becf62b.JPG)

[2017-01-24 21:44] acorbi commented on #727
@DBishton can you please correct?

[2017-01-25 10:22] acorbi commented on #717
thanks everyone for feedback. We will then rename **Taxonomy** to **Topics** on the front-end

[2017-01-25 11:19] #717 closed

[2017-01-25 11:28] acorbi commented on #717
just renamed Taxonomy to Topic on the front-end. please translate the word "Topic" on following projects on transifex:
https://www.transifex.com/open-development-mekong/odm-wp-odm_theme/
https://www.transifex.com/open-development-mekong/odm-wp-laws-pages

[2017-01-28 10:49] Huyeng opened #732 "Filter news posts by category on dashboar show result include the post of topic"
In the News post type, if we would like to filter the posts by category, the result provides the topic posts instead. See the result url below:

https://opendevelopmentcambodia.net/wp-admin/edit.php?s&post_status=all&post_type=news-article&action=-1&m=0&cat=29647&filter_action=Filter&paged=1&action2=-1
<img width="1244" alt="screenshot at jan 28 17-45-07" src="https://cloud.githubusercontent.com/a

[2017-01-30 09:14] acorbi commented on #716
@Huyeng thanks for your feedback, I will do a test implementation for the filters on archive pages for news, topics, etc... and deploy it on PP for us all to review.

[2017-01-30 09:30] #732 closed

[2017-01-30 11:45] acorbi commented on #172
Closing, this belongs to https://github.com/OpenDevelopmentMekong/wpckan/issues/232

[2017-01-30 13:15] Huyeng opened #735 "Add a filter box to map catalogue"
Add the filter box to map catalogue as the news archive:

![screenshot_3](https://cloud.githubusercontent.com/assets/6613530/22319278/ca4be976-e3b3-11e6-88e2-ec6188c427c5.jpg)

[2017-01-30 13:46] acorbi commented on #172
REopening, it belongs here actually.

[2017-01-30 14:25] #172 closed

[2017-01-31 04:56] gimmemochi commented on #735
@Huyeng Could you provide a quick mockup of how this would look on the Map Catalog?

[2017-01-31 07:09] Huyeng commented on #735
@gimmemochi  Here is the mockup, https://github.com/OpenDevelopmentMekong/wp-odm_theme/pull/734.

[2017-02-01 09:57] #727 closed

[2017-02-01 12:11] prustar opened #738 "ELC description for adjustment classification"
Users have raised issue that the categories aren't clear. Perhaps we could also add the '?' explanation to the map category box so users can find this description here as well.

![image](https://cloud.githubusercontent.com/assets/14996905/22505281/e7d28d4e-e87a-11e6-8875-b828b695c756.png)

Although the description makes sense the category 'adjustment after revocation' is still confusing for some u

[2017-02-02 12:08] #735 closed

[2017-02-02 12:13] acorbi opened #740 "Add clear search filters on filter box"
On the newly added filter boxes on archive pages, it would be nice to have a button to clear the filters specified by the user, so the full list of results is shown.

@Huyeng what do you think?

[2017-02-03 03:25] Huyeng commented on #738
![screenshot_6](https://cloud.githubusercontent.com/assets/6613530/22578388/0a420b94-e9fb-11e6-9544-b1fa4064ef71.jpg)

[2017-02-03 04:27] Huyeng opened #742 "Link of ELC on Map catalogue is not working properly"
![screenshot_5](https://cloud.githubusercontent.com/assets/6613530/22579560/a8245922-ea03-11e6-98ad-dde075d03506.jpg)
The link show point to the dataset page instead.

[2017-02-06 03:39] Huyeng commented on #740
Yes, I agree with adding the clear filters option.
What do you think if we just add the link as below:
![screenshot_1](https://cloud.githubusercontent.com/assets/6613530/22634006/835e712a-ec58-11e6-9d6a-d5bf965e56ac.jpg)

[2017-02-06 03:40] Huyeng commented on #738
@prustar can we close the issue now?

[2017-02-06 03:42] Huyeng commented on #716
This issue should be closed since it already deployed on PROD, right?

[2017-02-06 07:16] Huyeng opened #744 "Missing collapsing and expending icon on Topic Area"
The collapsing and expending icon of topic menu on  Topic Area are missing for any current page.
![screenshot_2](https://cloud.githubusercontent.com/assets/6613530/22637814/dd55b8f0-ec76-11e6-81f7-8526439deb6a.jpg)

https://opendevelopmentcambodia.net/topics/extractive-industries/

[2017-02-06 08:19] #742 closed

[2017-02-06 08:19] acorbi commented on #740
@Huyeng yes, that would be enough

[2017-02-06 08:20] acorbi commented on #716
Correct, let's close it

[2017-02-06 08:20] #716 closed

[2017-02-06 09:06] #744 closed

[2017-02-06 10:18] prustar commented on #738
@Huyeng -- thanks for doing this.

[2017-02-06 10:18] #738 closed

[2017-02-06 10:23] prustar commented on #621
@acorbi -- I found all of these old issues which relate to this feature request:

#86 https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/86 Opened 7 May 2015. Also https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/36 Opened 30 March 2015 which is linked to https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/119.

Additionally - https://github.com/OpenDevelopm

[2017-02-06 11:00] acorbi commented on #621
@prustar many thanks! Referencing those issues will help. Those are in the old repository for the theme, that is why we were not finding them.

[2017-02-06 11:57] prustar commented on #695
@Huyeng -- I remember you found an alternative for this previously and I did remember seeing it deployed. Is the option still available on the WP back end for selection?

[2017-02-06 11:59] prustar commented on #621
@acorbi -- don't think there needs to be discussion -- these are such old issues (almost 2 years) which were raised due to user feedback and partner requests back then. It's still being raised now so I think it's about time we set steps in motion to implemented them.

[2017-02-06 12:48] acorbi commented on #621
Agreed, I will estimate the cost of implementing this after I finish setting up the testing environment for WPSOLR, the plugin I am proposing to adopt to enhance the search. You do agree that fixing the search has higher priority than the print-a-map functionality , don't you?

[2017-02-07 10:24] acorbi commented on #621
@thetaung2 @prustar **Print a map** functionality implemented and deployed on PP, please do some testing and provide feedback here:

https://pp.opendevelopmentmekong.net/maps/water-resources/
https://pp.opendevelopmentmekong.net/map-explorer

[2017-02-07 13:02] prustar commented on #695
@acorbi @Huyeng -- please add these to the options for basemaps in WP basemap settings:

1. https://qms.nextgis.com/geoservices/1001/: TMS - URL: http://a.tiles.mapbox.com/v4/openstreetmap.map-inh7ifmo/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoib3BlbnN0cmVldG1hcCIsImEiOiJncjlmd0t3In0.DmZsIeOW-3x-C5eX-wAqTw

2. https://qms.nextgis.com/geoservices/510/: TMS - URL: https://server.arcgisonline.com/ArcGIS

[2017-02-07 14:24] #740 closed

[2017-02-07 14:25] #695 closed

[2017-02-07 14:26] acorbi commented on #695
@prustar @hailyodv @Huyeng @DragonVirus FYI: I have added number 2 (nextgis) base layer to the list of default ones available on the theme options. You can change it under **Appearance > Open Development** as pictured below:

![screenshot from 2017-02-07 15-22-40](https://cloud.githubusercontent.com/assets/384894/22695096/d147ae00-ed49-11e6-81a3-4deb15e47516.png)

[2017-02-08 08:17] prustar commented on #621
@acorbi --Tested the first page and it doesn't work:
The map display:
![image](https://cloud.githubusercontent.com/assets/14996905/22728405/0d4b6a1a-edde-11e6-9c0b-53ac7febb33b.png)
 The Print display:
![image](https://cloud.githubusercontent.com/assets/14996905/22728397/f09bd1c0-eddd-11e6-96fa-da7cda2ef757.png)

Second site:
The map display:

![Uploading image.png…]()

The Print display is same a

[2017-02-08 08:25] acorbi commented on #621
@prustar can you please be more specific and not just say "it does not work"?

We have several things here:

1. The map are added to the output PDF is not complete -> Please try setting **landscape** as layout, the whole map should be included now.

2. Would you include the layers or leave them out?

Any other **concrete** feedback for improving this?

[2017-02-08 08:29] prustar commented on #621
@acorbi -- when I test something I do the basic things a user would do. I selected layers I wanted to display and hit print. The output wasn't what is expected, I'm being a lazy user who doesn't want to think about it. You've lost me as a user when I get this result.

I will try to adjust the display and get back to you.

[2017-02-08 09:13] prustar commented on #621
Only option is to change from portrait to landscape:
![printmap eg 1](https://cloud.githubusercontent.com/assets/14996905/22730350/f9174560-ede6-11e6-9509-48c4362c886c.JPG)

To get to this print:
![printmap eg 2](https://cloud.githubusercontent.com/assets/14996905/22730363/02fb874e-ede7-11e6-93bb-7b08216a9a29.JPG)
Also please note that the legend doesn't display the colours.

I had to readjust the

[2017-02-08 11:18] acorbi opened #751 "Should we hide the taxonomic terms not filled out on the sides of our topic pages and sub-pages?"
Is it better for the user to see the structure even when they can’t click on most of the terms? The only site where most taxonomic terms are live is ODC.

![screenshot from 2017-02-08 12-18-39](https://cloud.githubusercontent.com/assets/384894/22735133/bda5024e-edf8-11e6-8aba-19f056ca24dc.png)

[2017-02-08 11:21] acorbi opened #752 "Should we add a topics option to the main menu on Laos and Thailand?"
so people can find the land pages we published?

@DBishton this one is editorial, I'm assigning it to you

[2017-02-08 11:21] acorbi commented on #752
I would do that. Otherwise that piece of content is currently not accessible for users since we disabled the “horizontal navigation”

[2017-02-08 11:23] acorbi commented on #752
@prustar @gimmemochi  @tthy @Huyeng  ping

[2017-02-08 11:23] acorbi commented on #751
@prustar @gimmemochi @tthy @Huyeng ping

[2017-02-08 12:28] thetaung2 commented on #621
Thanks for this @acorbi . We're almost there! In addition to @prustar comments, it'd be great to have all the texts on the legend are displayed when printing.

[2017-02-08 18:45] jpeizer1 commented on #751
Actually the only instance where *many* taxonomic terms are live is ODC, easily less than half are filled out and the % could be closer to only 1/3 even on ODC. I would also suggest the question be rephrased as "Should we hide the taxonomic terms not filled out on the sides of our topic pages and sub-pages that have information on them?" I think the combination of no data on a number of country  s

[2017-02-08 20:53] acorbi commented on #751
@jpeizer1 a bit long, but i changed the title...

[2017-02-12 16:10] prustar commented on #751
I'm all for hiding the topics/sub-topics on the side bar when there is no content for these topics available. However agree that there needs to be somewhere that we list the available (even potentially empty) topics are accessible to people from somewhere to be informative.

Currently on the HOME page under topics this is not evident that we actually have any other topic other than on water. Then

[2017-02-13 13:21] acorbi commented on #656
@gimmemochi @Huyeng @prustar Here some details about the topic of the issue:

http://stackoverflow.com/questions/18589621/setting-map-language-to-english-in-openstreetmap-with-leafletjs

I would suggest to add a "neutral" layer to the list of selectable base layers which could be selected on those demo situations

[2017-02-13 15:17] prustar commented on #656
@gimmemochi we need to find a layer that suits everyone.  Boundary data is contentious and was the reason why they were removed.  There is an existing layer available that is being used on Vietnam now which we could use as a standard across the platform.  All country partners can select it on the backend if they  want.

I'm not sure if the features are available for a different base layer on the d

[2017-02-13 17:00] jpeizer1 opened #754 "Label titles column for data records too narrow"
Field title (leftmost) column is too narrow creating inappropriate word wrap.

Example record:
https://opendevelopmentmekong.net/dataset/?id=school-of-cambodia-2012

![capture](https://cloud.githubusercontent.com/assets/16559612/22893426/a7fe3c1e-f1e3-11e6-9ee9-f249021be134.JPG)

[2017-02-14 02:16] Huyeng commented on #656
Before the no-label of OSM is used as the base map, however, since the HTTPS is required, it doesn't work.

[2017-02-14 05:18] jpeizer1 commented on #752
The question I would ask is: What is the benefit of moving data to the country site and then making the topic difficult to find by having no navigation link to it? Having recommended to put the land pages on the related country sites and being able to navigate to each about 5-6 months ago -- I still see more of a downside to not showing information on these sites. With each passing month I think t

[2017-02-14 09:18] Huyeng commented on #751
Regarding hiding the taxonomic terms from navigation, ODC team is considering if the empty terms should be hidden or not. Most of ODC users are returning visitor (60%) who may already familiar with ODC's taxonomy, so reducing the terms may surprise to them since the site was launched about a year ago.
For other reason, ODC will work on any content on public health, eg. the HIV/Aids, if a number of

[2017-02-14 18:54] jpeizer1 commented on #751
@Huyeng Actaully I just checked gooogle analytics and I think you may have the statistics reversed. Your new visitors to the new site are actually 68.93%. It was slightly lower for the old site at 61%. So most site visitors would not be familiar with the taxonomy. Still I think the idea of providing an option to hide or not is a good idea.

New ODC Site Sep 2016 - Feb 2017
Sessions: 195,638	New Us

[2017-02-15 22:26] acorbi opened #755 "Add custom metatags for google search engine to recognize"
Following https://www.elegantthemes.com/blog/tips-tricks/how-to-add-open-graph-tags-to-wordpress we can add custom meta tags on wordpress posts for google search engine to register them.

[2017-02-15 22:56] #755 closed

[2017-02-16 15:32] acorbi opened #758 "Implement CSE test page template"
Implement a WP page template to test search results returned from Google CSE

[2017-02-19 18:17] #758 closed

[2017-02-20 08:41] acorbi commented on #751
@DBishton @gimmemochi any thoughts?

[2017-02-20 11:34] acorbi opened #760 "Highlight matches in description of search results"
Since it is returned as part of the response from the google custom search API, we should be ablke to highlight in **bold** those terms that match with the entered search query.

[code]

[2017-02-20 11:41] #760 closed

[2017-02-20 11:48] acorbi opened #762 "Split results by odm_type"
Using http://jqueryui.com/accordion/ to split results grouping them by type

[2017-02-20 15:25] #762 closed

[2017-02-20 15:27] acorbi opened #764 "pull CSE API key from page's custom post meta"

[2017-02-20 15:41] #764 closed

[2017-02-24 11:30] DBishton commented on #752
'Topics' has been added as a menu item to ODT and ODL. Land topic pages are available under this menu item.

[2017-02-24 11:30] #752 closed

[2017-02-24 12:25] DBishton commented on #751
Hi all,

While the ODI team internally was agreed on hiding taxonomic terms in the context of ODM and the other new country sites, ODC has a user base that has now adjusted to the new site and the use of the taxonomy widget to navigate between topic pages. I think this discussion has demonstrated that there are different views on how best to improve this method of navigation, and while it would be

[2017-02-24 19:04] jpeizer1 commented on #751
@DBishton I think we need to separate the question of showing the entire taxonomy "somewhere" on the site, which we all seem to concur with, from showing the entire, mostly empty, taxonomy running down the side of our topic pages that do contain information.

What precisely is the benefit of a user seeing a list 500+ topics/subtopics running down the right side of the Topic pages when the vast maj

[2017-03-06 08:26] acorbi commented on #754
Moving to wpckan, where it belongs. See https://github.com/OpenDevelopmentMekong/wpckan/issues/257

[2017-03-06 08:26] #754 closed

[2017-03-07 04:14] punwath opened #766 "Search function filter doesn't work in Search Result Page"
The function search on the main menu is working; However, when I get to the  search result page, I cannot use the search box to filter the topic of the search result.
![image](https://cloud.githubusercontent.com/assets/18112596/23641466/735203e8-0326-11e7-8c42-3c5538286908.png)

After click filter, there is nothing appear.
![image](https://cloud.githubusercontent.com/assets/18112596/23641472/88345

[2017-03-07 08:01] acorbi commented on #766
Thanks for the detail description @punwath . I'm adding this to the current milestone 2.2.0

[2017-03-07 13:38] acorbi opened #767 "Integrate solariumPhp for indexing/querying WP content"
# Major task for implementing Milestone 2.2.0

https://docs.google.com/document/d/1S4OtAdeqBDOwCkLN0fEqEemIS2OcBGUq605Igx57swk/edit#

[2017-03-09 14:15] acorbi opened #770 "Use flags to indicate the languages records relate to, countries should be written in plain text"
On the new data page's layout (https://pp.opendevelopmentmekong.net/data-2/?taxonomy=all&country=all&language=all&license=all&query=forest&page=1), the countries the records relates to are presented for each of the results. Currently, this is done with the site's logo.

![screenshot from 2017-03-09 15-13-09](https://cloud.githubusercontent.com/assets/384894/23753824/2798f5ea-04db-11e7-9ce7-60098d0

[2017-03-09 14:27] acorbi opened #771 "Make download labels, languages and countries clickable to download data or trigger filters"
On the new data page's layout (https://pp.opendevelopmentmekong.net/data-2/?taxonomy=all&country=all&language=all&license=all&query=forest&page=1) information such as language, categories, countries could be made clickable so users can filter out data more dynamically

![screenshot from 2017-03-09 15-13-09](https://cloud.githubusercontent.com/assets/384894/23753824/2798f5ea-04db-11e7-9ce7-60098d09

[2017-03-09 14:33] acorbi opened #772 "Format buttons not colorful on ODM"
![screenshot from 2017-03-09 15-32-57](https://cloud.githubusercontent.com/assets/384894/23754561/b95d3156-04dd-11e7-9060-751328a027a7.png)

on https://pp.opendevelopmentmekong.net/data

should be like:

![screenshot from 2017-03-09 15-33-39](https://cloud.githubusercontent.com/assets/384894/23754570/c8ba7dac-04dd-11e7-8391-c0d653955bb3.png)

[2017-03-09 14:51] #772 closed

[2017-03-10 01:35] punwath opened #774 "New map doesn't appear on Download Map page"
I recently published a layer but it doesn't appear on the download map page. Here is the link to the layer: https://opendevelopmentcambodia.net/wp-admin/post.php?post=102607&action=edit.

[2017-03-10 13:36] acorbi commented on #774
@Huyeng ping

[2017-03-13 09:57] acorbi opened #776 "Error when filtering results for Agriculture and fishing topic"
On https://pp.opendevelopmentcambodia.net/data/?taxonomy=Agriculture+and+fishing&language=all&license=all&query= , when the **Agriculture and fishing** topic is selected on the **filter by topic** dropdown box and the search button is clicked, following error appears:

![screenshot from 2017-03-13 10-55-19](https://cloud.githubusercontent.com/assets/384894/23849405/c78712be-07db-11e7-80eb-a6618cd7

[2017-03-13 09:59] acorbi opened #777 "Add filter by record type option on new data page"
On the new data page layout, a **Filter by record type** should be added as a dropdown box which would allow the user to filter the results by the record types currently being maintained:

- Datasets
- Library publications
- Laws
- Agreements

![screenshot from 2017-03-13 10-58-19](https://cloud.githubusercontent.com/assets/384894/23849506/215e2930-07dc-11e7-8ade-8ab32ad83eed.png)

[2017-03-13 10:35] acorbi opened #778 "Filter by country not filtering properly"
On https://pp.opendevelopmentmekong.net/data?taxonomy=all&country=thailand&language=all&license=all&query=, if the **Filter by country** is changed to **thailand** and the search button is clicked, the list of results contain records from mekong and cambodia. The expected behaviour would be that only contents from thailand, if any, would be listed.

![screenshot from 2017-03-13 11-33-33](https://c

[2017-03-13 11:32] DragonVirus commented on #777
i removed it cuz as i understand currently the pages will be implemented as separate pages eg. Data Page, Library records Page, Law Page such as.

[2017-03-13 11:39] DragonVirus commented on #778
As i mentioned in previous meeting, it's cuz i use `extras_odm_spatial_range` to filter but the field is showing with `organization` field. This should be changed to country flag instead of showing the organization logo. But the question is "Are we gonna show both organization logo and country flag ?"

[2017-03-13 11:51] acorbi commented on #777
@DragonVirus That is a valid argument. Let's keep it as it is now (allowing the creation of separate pages for other record types) and just implement this Issue if we need to.

[2017-03-13 11:53] acorbi commented on #778
@DragonVirus thanks for clarification. Let's use **extras_odm_spatial_range** for filtering, as it is now but showing the flags instead of the organization.  We do not need to add filter by organization at this point.

[2017-03-13 11:53] acorbi commented on #778
Closing in favour of https://github.com/OpenDevelopmentMekong/wp-odm_theme/issues/770

[2017-03-13 11:53] #778 closed

[2017-03-13 16:40] acorbi commented on #776
Closing, it belongs to https://github.com/OpenDevelopmentMekong/wpckan/issues/259

[2017-03-13 16:40] #776 closed

[2017-03-13 19:07] acorbi commented on #774
@punwath I removed the category **Map catalogue** from the layer and now it appears on the download map page: https://opendevelopmentcambodia.net/layers?odm_advanced_nav=1&filter_=1&filter_post_type%5B%5D=map-layer&filter_s=Cambodian+population+and+poverty+rate+2015&filter_date_start=&filter_date_end=

@Huyeng Is this behaviour expected? Shouldn't it be the other way around? What is that category

[2017-03-14 02:22] Huyeng opened #779 "Lost bullet point on the Topic page navigation on Khmer site"
https://github.com/OpenDevelopmentMekong/opendev-wptheme/issues/1015
![image](https://cloud.githubusercontent.com/assets/6613530/23883127/a3498456-0897-11e7-8e3a-50ed750e8f06.png)
![image](https://cloud.githubusercontent.com/assets/6613530/23883131/ab54f202-0897-11e7-8293-f39d6d9435b1.png)

[2017-03-14 03:07] Huyeng commented on #774
Nope it is the expected behavior.  Let me check it...

[2017-03-14 05:39] Huyeng commented on #770
I would like to suggest to use the country flags instead of the language code. No one know what is vi or km for a common user.
I know that we are using the iso language code, However, as you are aware, in Cambodia, if you use kh, most  people know that it refers to Khmer, for km, it is always be questioned.
Thus, all the language code should use the flag icon to name instead of the code.

[2017-03-14 05:43] Huyeng commented on #770
One more thing, the the Country logo under the dataset should only displays on the Mekong site, but not the country sites because they are on the country site why the country logo is still added to the records.

[2017-03-14 07:37] acorbi commented on #770
Thanks for your comment @Huyeng. Actually, we are using flags to determine languages across the site:

1. on the language selector of the top menu

![screenshot from 2017-03-14 08-32-35](https://cloud.githubusercontent.com/assets/384894/23890193/f3cd187c-0890-11e7-8211-32fe8b415d97.png)

2. On the download column of the laws page

![screenshot from 2017-03-14 08-33-16](https://cloud.githubusercont

[2017-03-14 07:39] #779 closed

[2017-03-14 07:39] #774 closed

[2017-03-14 08:24] DragonVirus commented on #770
Ya .. agree. I think that way would be better cuz datasets from mekong belong to almost all Geographic area. Showing with the flags might be a bit confusing. I'm now editing it on mock up.

[2017-03-14 09:09] acorbi commented on #771
QUESTION: If we click a sub-topic, what to show on the dropdown box?

[2017-03-14 09:13] acorbi opened #782 "Align format buttons to title"
In the data page, the format buttons could be aligned to the title so each row takes less space.

![screenshot from 2017-03-14 10-12-16](https://cloud.githubusercontent.com/assets/384894/23893488/eb74e75a-089e-11e7-874e-33f0929d2b2a.png)

[2017-03-14 14:28] acorbi opened #784 "Implement autocompletion/suggestion mechanisms for search field"
The search field on the new search pages should present the user with suggestions pulled directly from the index. This suggestions should be layout as presented on the mockup below

![search_autocomplete](https://cloud.githubusercontent.com/assets/384894/23905248/b17b6b1a-08ca-11e7-8b50-22f927e30b41.jpg)

[2017-03-14 14:33] acorbi opened #785 "Filters on the sidebar should be faceted"
Filters presented on the sidebar should present their options according to the contents resulting from the current filter combination. This means that if the user has already selected a filtering combination, the amount of available options should be adapted and only those options presented which will lead the user to 1 or more results.

![search_show_all](https://cloud.githubusercontent.com/asset

[2017-03-14 14:34] acorbi opened #786 "Highlight matches on results’ list"
Those words used as search query text should be highlighted (bolded) in the title and/or description on the list of results, if applicable.

![search_show_all](https://cloud.githubusercontent.com/assets/384894/23905554/bd294daa-08cb-11e7-86d4-a3e1eee67fc8.jpg)

[2017-03-14 14:37] acorbi commented on #786
@DragonVirus note that I have created this Issue for approaching the different tasks in a structured way. I have assigned to myself and I will approach it once the main look-and-feel is in an advanced state.

[2017-03-14 14:38] acorbi commented on #785
@DragonVirus note that I have created this Issue for approaching the different tasks in a structured way. I have assigned to myself and I will approach it once the main look-and-feel is in an advanced state.

[2017-03-14 14:39] acorbi commented on #784
@DragonVirus note that I have created this Issue for approaching the different tasks in a structured way. I have assigned to myself and I will approach it once the main look-and-feel is in an advanced state.

[2017-03-15 12:09] acorbi opened #787 "Move Solr based search layout and functionality to wp-odm_solr"
The cleanest solution for replacing the current/default WP search would be to implement both layout and logic related to the new search on a separated plugin. This way, the new search would be made available when the plugin is activated.

https://github.com/OpenDevelopmentMekong/wp-odm_solr

[2017-03-15 13:12] #767 closed

[2017-03-15 13:12] #787 closed

[2017-03-15 16:30] acorbi commented on #786
move to https://github.com/OpenDevelopmentMekong/wp-odm_solr/issues/7

[2017-03-15 16:30] #786 closed

[2017-03-15 16:31] acorbi commented on #785
moved to https://github.com/OpenDevelopmentMekong/wp-odm_solr/issues/8

[2017-03-15 16:31] #785 closed

[2017-03-15 16:31] acorbi commented on #784
moved to https://github.com/OpenDevelopmentMekong/wp-odm_solr/issues/9

[2017-03-15 16:31] #784 closed

[2017-03-15 16:33] acorbi commented on #777
@prustar what is your opinion around this? Do we need data pages which expose different types of records (datasets, laws, library publications, agreements) on the same page or are we only going to have data pages associated to individual record types?

[2017-03-17 08:27] Huyeng commented on #766
@acorbi - I just saw the new result page in PP
https://pp.opendevelopmentcambodia.net/?s=family
I would like to suggest to the template as below, what do you think?
Other, I think the part should be improved to be better looks.
contry: ["kh"] language: ["en"] topics: ["Human rights NGOs", "Land", "NGOs", "Human rights associations", "Land policy and administration", "Land and housing rights and ev

[2017-03-17 08:41] acorbi commented on #766
@Huyeng from your answer, I understand that you have not seen the mockups for the new search page. Please see the designs on https://drive.google.com/drive/u/1/folders/0BymS3LWpLYfoNVFfTlZ5OEFnRkE and provide feedback on the following document https://drive.google.com/open?id=1FigLqgf79glxlwRZH68Cjaq1VzGzLIdrE0uUZNvXdvE

[2017-03-17 09:06] Huyeng commented on #766
Thanks Alex. I will give some comments on that.

[2017-03-20 12:12] prustar opened #788 "Data Searches still need to be consistent"
Did this search on the data page: Community Forest - it brought up 3 results
![image](https://cloud.githubusercontent.com/assets/14996905/24099224/69c54554-0d6e-11e7-8ea9-94f0bf6060ee.png)

On the main search it only brings up 2 datasets:
![image](https://cloud.githubusercontent.com/assets/14996905/24099271/90219f4a-0d6e-11e7-89cc-3a071e38b54b.png)
![image](https://cloud.githubusercontent.com/asse

[2017-03-20 12:59] acorbi commented on #788
Thanks @prustar I'm adding this to https://docs.google.com/document/d/1S4OtAdeqBDOwCkLN0fEqEemIS2OcBGUq605Igx57swk/edit#heading=h.f2w3o29hlrlu. See task WP1.14

it is important to note that the data page does not yet use the same searching mechanism as the search page. Once it does, the search should be consistant.

[2017-03-20 14:41] #782 closed

[2017-03-20 15:00] #770 closed

[2017-03-21 11:13] acorbi opened #791 "multilingual support for WP search results"
Currently, wordpress contents listed as search results which contain both text in english and khmer (or other language) are shown in both languages:

![screenshot from 2017-03-21 12-11-30](https://cloud.githubusercontent.com/assets/384894/24145019/beaee0fe-0e2f-11e7-90dc-74a5f72d9ac3.png)

The expected behaviour is that these multilingual contents are shown in the currently selected language.

[2017-03-21 14:26] acorbi commented on #791
moving to https://github.com/OpenDevelopmentMekong/wp-odm_solr/issues/13 and closing

[2017-03-21 14:26] #791 closed

[2017-03-22 08:38] acorbi commented on #647
@Huyeng @ChandaraKhun  Does your team agree with adding the logo as @gimmemochi suggested above?

![screenshot from 2017-03-22 09-38-22](https://cloud.githubusercontent.com/assets/384894/24188913/5c643a8e-0ee3-11e7-90c8-bdc5218f839b.png)

[2017-03-22 09:04] acorbi commented on #656
Each country site can select a different **default** base layer.

At this point I see 2 options for this:

1. We set the default base layer to **Nextgis** on all sites. This layer contains only english names
![screenshot from 2017-03-22 10-03-34](https://cloud.githubusercontent.com/assets/384894/24189852/e492ce54-0ee6-11e7-9b9f-ed8e8cb7cb9a.png)

2. We look for the URL of an OSM tile server that p

[2017-03-22 09:50] prustar commented on #656
@gimmemochi - Can you please define the requirement for each of the maps. i.e. you want an English language map for the English side and a local language for the local side?

I'm not sure if we can set these base layers separately for the different languages? @acorbi @Huyeng can you help clarify then we can look for the appropriate maps. It's hard to please everyone and perhaps we need to explore

[2017-03-22 09:59] gimmemochi commented on #656
@prustar Correct. The user group I spoke to would like to have an English language map for the English site and a local language for the local site.

[2017-03-22 10:14] prustar commented on #656
I reset the ODM map to the NextGIS map. We still need to find another map for the national sites that is suitable to both English and local language user.

[2017-03-22 11:49] prustar commented on #777
@acorbi @DragonVirus -- I initial thought was to have separate pages for data types and that the universal search would be where we could filter and then be taken to the individual pages. This is because we have specific law page for instance that collates only the laws which needs different metadata displayed and also different filter options.
There needs to be a function for the user to navigate

[2017-03-22 12:53] prustar commented on #537
@acorbi - Just an example
When the user triggers a search by clicking on the window it expands beneath the main menu and above the slider to be more prominent.
![largesearch](https://cloud.githubusercontent.com/assets/14996905/24198601/ce2fb4fe-0f06-11e7-83f2-6879c5f293b4.png)

[2017-03-22 14:49] prustar opened #794 "Search behaviour"
@acorbi Can't remember if you said that the data pages had the final search function allocated to them but I wanted to highlight this result that I found. I inputted LAND in the search and it produced 42 results however the first two are not tagged with LAND and by reading the title and description I don't see the term LAND in them? What in these records are triggering them to appear first on the

[2017-03-22 14:57] acorbi commented on #794
@prustar data pages does NOT have the same search logic as search pages yet. I am going to add this Issue as related to that task on https://docs.google.com/document/d/1S4OtAdeqBDOwCkLN0fEqEemIS2OcBGUq605Igx57swk/edit#

[2017-03-22 15:08] acorbi opened #795 "Help maintaning a list of synonyms to configure our search with"
The new search engine can be configured with a list of synonyms that would help retrieve results based on similar words. ODI Staff is requested to add lists of synonyms that would be relevant to maintain to improve search mechanisms to the follwoing document: https://docs.google.com/document/d/1laGO44G-SuDV_ormR-1tR-XUNMa3ASy_31Bc_Q7-qHg/edit#

[2017-03-23 02:18] vatana92 opened #796 "Missing icon on location tag on map"
@Huyeng Please fix this issue.
https://opendevelopmentcambodia.net/news/civil-society-groups-express-concerns-over-restrictive-laws/
![screenshot_6](https://cloud.githubusercontent.com/assets/19201022/24228905/7f6b8912-0fa9-11e7-970b-f80d8697c67e.png)

[2017-03-23 04:31] Huyeng commented on #647
It is not simply for us to answer to this question whether we agree or not because it will challenge for ODC in term of fund raising since ODC is not the project, but the local organization. Moreover, adding logo as above, it seems like the two logos of the organization that can make users confuse since the other OD country site has two different logos. these are a few comments on that after havin

[2017-03-23 10:16] #796 closed

[2017-03-23 16:51] acorbi opened #798 "Show a specific watermark for each content type"
Currently we use only one watermark image for those contents which do not have a thumbnail.

![screenshot from 2017-03-23 17-49-26](https://cloud.githubusercontent.com/assets/384894/24259442/2d1cc2be-0ff1-11e7-9944-2e9725259869.png)

We could use a specific image for each content type.

![icons](https://cloud.githubusercontent.com/assets/384894/24259489/4cdb4210-0ff1-11e7-9118-cbbdefe91e37.jpg)

[2017-03-25 21:24] acorbi opened #799 "Integrate WP_Odm_Solr_CKAN_Manager functions to power search on new data page"
The new data page, currently available on PP under http://pp.opendevelopmentmekong.net/data should use the new functions of the WP_Odm_Solr_CKAN_Manager class exposed on the new wp-odm_solr plugin.

- [ ] make default query (empty) work
- [ ] implement autocompletion
- [ ] implement highlighting
- [ ] adapt pagination

[2017-03-27 10:06] acorbi opened #801 "Integrate WP_Odm_Solr_CKAN_Manager functions to power search on the laws page"
The Laws page, exposed by the wp-odm_tabular plugin should use the new functions of the WP_Odm_Solr_CKAN_Manager class exposed on the new wp-odm_solr plugin for powering the search functionalities available there.

[2017-03-27 10:19] acorbi opened #802 "Implement pagination on data pages as in archive pages"
The pagination on the new data page template has only **previous page** and **next page** links. optimally, the pagination should be implemented as in archive pages such as https://opendevelopmentmekong.net/news and pictured below:

![screenshot from 2017-03-27 12-17-56](https://cloud.githubusercontent.com/assets/384894/24351843/9d85a824-12e7-11e7-91ca-48be588aa814.png)

[2017-03-27 12:53] #799 closed

[2017-03-27 13:21] acorbi opened #804 "Implement sorting by relevance or date on data page"
Extend the functionalities exposed on the sidebar of new data page's layout for sorting the results list by relevance or by metadata_modified

[2017-03-27 14:03] #804 closed

[2017-03-27 14:05] acorbi commented on #801
Closing in favour of https://github.com/OpenDevelopmentMekong/wp-odm_tabular_pages/issues/156

[2017-03-27 14:05] #801 closed

[2017-03-27 15:10] acorbi opened #806 "Implement faceted filters on data page"
The new search mechanisms allow to implement faceted filtering and exposing only the filter options that take the users to ŕesults thus avoiding the *No records found* messages.

This should be implemented on the data page as well.

[2017-03-27 17:08] #806 closed

[2017-03-28 02:25] Huyeng opened #808 "Enable Contact Us button on the Map Explorer"
The fixed left Contact us button was hidden due to it blocked mapping buttons on map explorer. Now the function of feedback button  has been improved to allow to collapse and expend the button, so it should display on the map explorer as the other pages.

[2017-03-28 05:28] #808 closed

[2017-03-28 07:59] acorbi opened #810 "Integrate LandPortal's new sparql query"
Carlos tejo from LandPortal has been working on cleaning up the data on their LOD storage and has provided us with a new query which will sort the results by modification date, listing the newest on the top.

[code]

[2017-03-28 08:45] #810 closed

[2017-03-28 10:46] acorbi opened #813 "Take users to category page and not to topic page on taxonomy widget"
As a demostrator for the improvents on the taxonomic navigation discussed recently, the **Topic areas** widget should be adapted so the user is taken to the corresponding category pages (example: https://pp.opendevelopmentcambodia.net/category/social-land-concessions/ instead of https://pp.opendevelopmentcambodia.net/topics/social-land-concessions/)

![screenshot from 2017-03-28 12-45-43](https://

[2017-03-28 13:53] #802 closed

[2017-03-29 13:17] prustar opened #817 "MAP EXPLORER: carto legend"
![image](https://cloud.githubusercontent.com/assets/14996905/24455835/5106f65a-1491-11e7-9d99-b9b025c9eb9d.png)

Both the category and bubble legend seem to be overlapping.

The link to carto site is here: https://odm.carto.com/viz/08a5510e-1397-11e7-9780-0e3ff518bd15/map

[2017-03-30 04:15] Huyeng opened #820 "Group row profile page is no background"
The group row of profile contain the white texts which not seeing if there is not background color.

![screenshot_2](https://cloud.githubusercontent.com/assets/6613530/24487447/bb42e918-1539-11e7-9805-7966781b1f96.jpg)

[2017-03-30 04:50] Huyeng opened #822 "Repeat the text box on Layer setting for Mekong site"
![screenshot_3](https://cloud.githubusercontent.com/assets/6613530/24488151/18d314f4-153f-11e7-8fef-ab7eb9f02752.jpg)

https://opendevelopmentmekong.net/wp-admin/post.php?post=5143554&action=edit

[2017-03-30 06:45] acorbi commented on #813
Hi @Huyeng. this branch is experimental only. This means that it is intented to pilot a possible change that will be discuss with ODC in case ODM wants to implement it.

See the corresponding PR https://github.com/OpenDevelopmentMekong/wp-odm_theme/pull/814 has a message indicating it.

[2017-03-30 06:48] Huyeng commented on #817
Some things wrong with your html legend, please check it again.
It looks fine for Hydrow dam on ODC map explorer:
![screenshot_5](https://cloud.githubusercontent.com/assets/6613530/24491026/87ae450a-154f-11e7-971f-23a3c09bbf46.jpg)

[2017-03-30 09:22] Huyeng commented on #813
Thanks for your understanding.

[2017-03-30 13:15] acorbi opened #824 "Icon for agreements missing"
on https://pp.opendevelopmentmekong.net/?s=&type=library_record
![screenshot from 2017-03-30 13-19-45](https://cloud.githubusercontent.com/assets/384894/24501862/9c29ecf4-154b-11e7-8f40-69218ec07d70.png)

on https://pp.opendevelopmentmekong.net/?s=
![screenshot from 2017-03-30 13-20-23](https://cloud.githubusercontent.com/assets/384894/24501870/a6643b2a-154b-11e7-809d-0cf4d0320bc8.png)

[2017-03-30 13:17] #824 closed

[2017-03-30 15:18] acorbi opened #826 "Unify localizations workflow"
All plugins and themes should re-use the same .mo files which will be stored on /wp-content/languages/ . This means that plugins and theme will use the same domain 'odi' when calling following functions:

- load_theme_textdomain
- load_plugin_textdomain
- _e()
- __()

[2017-04-01 07:37] Huyeng opened #827 "Improve Facebook sharing"
There is no thumbnail for some page once sharing on facebook:
When testing the the URL on Facebook for development, an information from Open Graph Object Debugger reports that "'og:type' of 'post' is invalid".

<img width="1016" alt="screenshot at apr 01 14-34-07" src="https://cloud.githubusercontent.com/assets/6613530/24576593/b7c967b6-16e8-11e7-952c-3f302c4c656a.png">

[2017-04-01 09:48] #827 closed

[2017-04-04 06:10] DBishton commented on #397
@acorbi My apologies, I didn't realise this one was in my court. Let's go ahead with this as an interim step, it will help assess if further enhancements are necessary.

[2017-04-04 09:14] prustar commented on #817
Ok will do thanks @Huyeng

[2017-04-04 09:16] prustar opened #829 "Link to manage the data page on search directs to CKAN PP?"
![image](https://cloud.githubusercontent.com/assets/14996905/24649602/dbcf85b2-1951-11e7-94e5-500cb7d650a2.png)

Found this resource: https://pp.opendevelopmentmekong.net/dataset/?id=5d638fc9-3f09-4ccd-96dd-9f1301d0f321

Hit the manage button (which I like by the way) and it took me to PP instead of Prod. Shouldn't it be Prod or did you do this as an example for now?

[2017-04-04 09:25] prustar opened #830 ""Search result for" box on the left"
This is the first page that displays when you search: but it's different when you select all below:
![image](https://cloud.githubusercontent.com/assets/14996905/24649963/f09b3828-1952-11e7-9e83-d305fad2d408.png)
After you select all: the list of resources types etc are now placed on the left. I would change this to what we discussed. The summary would be automatically on the left when the page app

[2017-04-04 09:27] acorbi commented on #829
@prustar it took you to PP because... you are in PP. the same button on PRod should take you to PROD. Closing this, please re-open if you consider.

[2017-04-04 09:27] #829 closed

[2017-04-04 09:33] acorbi commented on #830
Thanks @prustar  for your feedback:

If I understand your point properly, you would add the **Search results for "X"** box also on the first screen. By doing this we would give users the chance to explore results from a particular content type faster since they would not need to scroll down and click "See all" , right?

That should be easy, I could do it in the next hours...

[2017-04-04 09:47] acorbi opened #831 "Add parameter to list/grid layout for posts to show language, country & topics on search results"
Results of wordpress contents on the search page should also indicate the country and language as in ckan records:

![screenshot from 2017-04-04 11-46-36](https://cloud.githubusercontent.com/assets/384894/24650992/6642c374-192c-11e7-9eb3-8c92a73e906e.png)

Currently, since it is presenting the records as they are presented on the archive pages, it does not have this type of metadata:

![screenshot

[2017-04-04 09:47] acorbi commented on #830
moving to https://github.com/OpenDevelopmentMekong/wp-odm_solr/issues/39 where it belongs

[2017-04-04 09:47] #830 closed

[2017-04-04 10:01] prustar commented on #817
@Huyeng -- made this work:

![image](https://cloud.githubusercontent.com/assets/14996905/24651517/466a66d4-1958-11e7-9a4e-46257a9c2452.png)
See code:
[odmDAM.txt](https://github.com/OpenDevelopmentMekong/wp-odm_theme/files/892689/odmDAM.txt)

[2017-04-04 12:14] #831 closed

[2017-04-04 12:17] #822 closed

[2017-04-04 12:49] prustar commented on #813
Using the example you provide for topic social land concession which is in the taxonomy you get taken to the content page if it's left as is correct: i.e. this page: \
![image](https://cloud.githubusercontent.com/assets/14996905/24657027/02f96d98-196f-11e7-82e9-131f17d3ad1b.png)

If you use categories for this same topic you get to this page:
![image](https://cloud.githubusercontent.com/assets/149

[2017-04-04 13:18] #813 closed

[2017-04-04 13:24] acorbi commented on #813
@Huyeng @DBishton @prustar

FYI: After discussing with @DBishton I have done this change **configurable**, this means that now editors can decide the behaviour of the widget via a configuration option:

![screenshot from 2017-04-04 15-19-55](https://cloud.githubusercontent.com/assets/384894/24658561/583de420-194a-11e7-8060-c2da941dd52b.png)
_See links should take user to:_

The reasoning behind do

[2017-04-04 14:46] prustar opened #834 "harvesting from ESRI cloud services"
Can the WP map layers accept the following cloud services from ESRI:

Raster - https://d3ug57i5ee5hwd.cloudfront.net/lossyear/{z}/{x}/{y}.png
or something like this:

http://globil.wwf.de/arcgis/rest/services/Myanmar_InVEST/Change_in_Baseflow_Baseline_All_Agriculture_Myanmar_InVEST/ImageServer

If not can we make this happen I would like to harvest from WWF as they are harvesting from us currently

[2017-04-04 19:50] acorbi commented on #834
@prustar https://d3ug57i5ee5hwd.cloudfront.net/lossyear/{z}/{x}/{y}.png looks like a WMS endpoint so I would say you should be able to add it as a WMS layer. The only thing I'm missing is the **namespace:layer_name** part on the URL.

@Huyeng any ideas?

[2017-04-05 04:10] prustar commented on #656
Open layers by ESRI - https://livingatlas.arcgis.com/en/#s=0&type=layers&md=basemap:1111
Please try the following and if all available then lets add them as options regardless:

World Imagery - https://www.arcgis.com/home/item.html?id=10df2279f9684e4a9f6a7f08febac2a9
World Topgraphic Map - https://www.arcgis.com/home/item.html?id=86d5ed4b6dc741de9dad5f0fbe09ae95
National Geographic World Map - htt

[2017-04-05 04:14] prustar commented on #834
In the second example if you go to the link you will find the details of the file name and layer name which is in the URL so this should be easy to establish I would think.

I asked about the TMS layer but no response yet.

[2017-04-05 07:40] Huyeng commented on #817
There are some html format error:
[Html-legend.txt](https://github.com/OpenDevelopmentMekong/wp-odm_theme/files/895455/Html-legend.txt)

Could you confirm that if the Class name of the bold text below if "bubble" or "bubbles"?
`<ul>
	<li>89,000</li>
	<li class="graph" style="background: rgb(221, 221, 221);">
		**<div class="bubbles"></div>**
	</li>
	<li>
	10,000,000,000
	</li>
</ul>`

[2017-04-05 13:58] #397 closed

[2017-04-05 15:54] acorbi opened #836 "Announcements being shown in 2 languages"
On https://pp.opendevelopmentcambodia.net/km/?s=land&type=announcement, both title and description appear in both english and khmer.

![screenshot from 2017-04-04 16-04-34](https://cloud.githubusercontent.com/assets/384894/24660702/80ba0cac-1950-11e7-9583-fdcd12c2e576.png)

also on https://pp.opendevelopmentcambodia.net/km/?s=%E1%9E%90%E1%9E%B6%E1%9E%98%E1%9E%96%E1%9E%9B

[2017-04-05 15:57] #836 closed

[2017-04-06 03:11] Huyeng commented on #810
I would like to suggest to integrate Land Portal through the widget rather than the manual code.

[2017-04-06 07:13] Huyeng opened #838 "An error at "Summary translated by Team""
https://opendevelopmentcambodia.net/km/?post_type=news-article&p=103392&preview=true
![screenshot_2](https://cloud.githubusercontent.com/assets/6613530/24742128/2546dae2-1ad3-11e7-88c3-f67c7cdea249.jpg)

[2017-04-06 08:38] #820 closed

[2017-04-06 08:57] Huyeng opened #842 "Khmer font displays incorrect"
![screencapture-opendevelopmentcambodia-net-km-1491465234719-_1_](https://cloud.githubusercontent.com/assets/6613530/24745873/6d242f78-1ae1-11e7-8949-4182039f794e.png)

[2017-04-06 09:53] #842 closed

[2017-04-06 10:21] #838 closed

[2017-04-10 02:43] Huyeng opened #850 "Map Catalog: Thumbnail is clickable to view the larger image"
On map catalog page, users can't view the map in  larger image unless going to detail page.
Suggestion: add the link on thumbnail if available to allow users can click to view the map in larger size.

Map catalog page: https://opendevelopmentcambodia.net/layers

[2017-04-10 07:35] #850 closed

[2017-04-20 08:44] acorbi commented on #621
@Huyeng Can you please update on the status of the implementation of the **print map** functionality? Last time we spoke it was pretty close to completion. Do you need any help with this?

[2017-04-20 08:56] acorbi commented on #656
Hi @prustar thanks for doing the research. I will be taking a look at how to integrate once (or several) of these on the front-end.

[2017-04-20 14:22] #656 closed

[2017-04-20 14:50] acorbi commented on #656
@prustar I could add the 4 layers you proposed. Please test current implementation on PP:

- go to wordpress dashboard and select new layers under **Appearance > Open development**
- Save settings and open map explorer

![screenshot from 2017-04-20 16-41-32](https://cloud.githubusercontent.com/assets/384894/25236637/a584ae80-25e8-11e7-8322-4fb3c66125b2.png)

One thing that we should still test wou

[2017-04-20 15:31] acorbi commented on #834
@prustar

I have been looking into this. The second link you pasted seems to be from an **Imagery Layer** as indicated below:

![screenshot from 2017-04-20 17-17-14](https://cloud.githubusercontent.com/assets/384894/25238312/5d3e0608-25ed-11e7-972f-eb135952ff99.png)

As opposed to the layers you proposed on https://github.com/OpenDevelopmentMekong/wp-odm_theme/issues/656, this type of layer is not

[2017-04-24 16:11] acorbi opened #857 "Editors should be able to manually curate the posts shown via ODM Custom posts widget"
Currently, the **ODM Custom posts** widget pulls the latest posts from a certain post type and sorts them by:
- creation date
- modification date

It would be useful to let them specify manually the list of posts and their which will be displayed

![screenshot from 2017-04-24 18-09-36](https://cloud.githubusercontent.com/assets/384894/25346901/6c2556ce-2919-11e7-89b2-e7a046719fec.png)

I would imp

[2017-04-24 16:17] acorbi opened #858 "create admin script that outputs posts by category and type in tabular form"

[2017-04-24 16:58] #858 closed

[2017-04-24 17:32] chaddleyb commented on #503
Greetings from Washington State USA @acorbi @davidmhill @DBishton!

We are a educational agency running into the exact same issue with embedded Tableau JS or iframe code when switching from the code view to visual editor.  We have tried to disable Tiny MCE from modifying certain elements, a few plugins (though not iframely), rewrite rules ... no luck beyond only using the code view.

Hoping you mi

[2017-04-25 00:56] Huyeng opened #861 "Fixed Font size of widget area on profile page and post type page to be consistent"
It is noticed that the font size of widgets on profile is consistent:
See this page: https://opendevelopmentcambodia.net/profiles/access-to-public-service/

![screenshot_7](https://cloud.githubusercontent.com/assets/6613530/25364420/906c7d8c-298c-11e7-92c6-a8732324cae3.jpg)

[2017-04-25 01:33] #861 closed

[2017-04-25 08:06] acorbi commented on #771
@DragonVirus The format label should take the user to the detail page

[2017-04-25 09:03] prustar commented on #857
@acorbi -- suggestions for this specification as noted in my email:

1. Provide sort function to the user to allow them to view by date (published and modified), taxonomic category (which would be the tree) and most viewed/popular.

2. Allow for an "Editors Pick" function which would highlight the most relevant agenda topic of that week with related briefings, profiles, datasets and news. (This wo

[2017-04-25 10:25] prustar commented on #834
@acorbi so I just add the layer into WP? How do we manage the metadata?

[2017-04-25 12:28] acorbi commented on #834
This is to approach as part of 2.4.0 but we can have a call soon in case you have some ideas that could be implemented in the interim for supporting future work.

[2017-04-26 05:03] Huyeng commented on #817
@prustar - can the issue close?

[2017-04-26 09:45] prustar commented on #817
@Huyeng - Thanks! I've corrected it now but the legend box seems to cut off the last figure:

![image](https://cloud.githubusercontent.com/assets/14996905/25428345/dbee3fb8-2a75-11e7-9735-5ec73636af72.png)

Can you increase the size or do I need to reduce spacing in the legend?

[2017-04-27 11:32] prustar opened #866 "Search Enhancement requirement"
@acorbi -- a specific search requirement came up during our discussion today with ODC and is one of the major complaints from users. This relates to the company profiles.

As you know the ELC profile and others have a list of specific company pages that list the details for example: https://pp.opendevelopmentcambodia.net/profiles/economic-land-concessions/?feature_id=elc_gdc_10

When a user does a

[2017-04-27 11:33] prustar opened #867 "Fuzzy Logic for predictive search"
@acorbi  We tested this somewhat today in our meeting and it wasn't working as expected. We purposely miss spelt things and there were no alternative options presented or suggested to the user?

[2017-04-27 12:07] #857 closed

[2017-04-27 12:09] acorbi commented on #857
@DBishton @prustar   this is now implemented on PP:

Now you can enter a **comma-separated list of post slugs** to hand-pick posts to show on the widget hence overriding the **Order by:** parameter:

![screenshot from 2017-04-27 14-00-10](https://cloud.githubusercontent.com/assets/384894/25482695/25a606ee-2b53-11e7-9662-a557bc0e04d3.png)

[2017-04-27 12:43] acorbi commented on #866
@prustar thanks for raising this. There was indeed a bug on the "old" template which caused the CKAN results not to be returned correctly. Now that record appears on the top of the list of data results ( right column)

https://pp.opendevelopmentcambodia.net/?s=GG+World+Group&type=all&taxonomy=all&language=all&license=all

Closing this

[2017-04-27 12:43] #866 closed

[2017-04-27 12:45] acorbi commented on #867
@prustar which terms were you experiment with? can you provide more concrete details on the expected behaviour and what you observed?

[2017-04-28 06:47] punwath opened #869 "The thumbnail of map on map catalog page is not clear"
I notice that the thumbnail is not clear in the map catalog page(https://opendevelopmentcambodia.net/layers). It should be more a little bit clearer to make it more attractive to the user to click on.
![image](https://cloud.githubusercontent.com/assets/18112596/25517332/19cf7118-2c19-11e7-9f00-dcaf3ae490a8.png)

[2017-04-28 07:54] #869 closed

[2017-04-28 09:07] Huyeng commented on #866
It would be great if the result of the search content this url to the individual profile like the google:
https://pp.opendevelopmentcambodia.net/profiles/economic-land-concessions/?feature_id=elc_gdc_10

![screenshot_2](https://cloud.githubusercontent.com/assets/6613530/25522347/c663a044-2c2c-11e7-942a-a96314352e19.jpg)

[2017-04-28 12:16] acorbi commented on #866
Hi @Huyeng, can you please raise this in a different issue? thanks

[2017-05-01 10:27] acorbi opened #872 "New layout for Category page"
- [x] No filter box
- [x] Taxonomic widget on the sidebar for further navigation
- [ ] Add rest of content types as tabs
- [x] If category has one (or more) topics, this will be presented prominently on the top (under the title)
- [x] Adapt the Topics menu item to link directly to category pages.
- [ ] Rename topics to briefings
- [x] Using 1col layout for results instead of 2
- [ ] Add pagination

[2017-05-01 10:40] DBishton opened #873 "Display 'last updated' date instead of 'date created' on topic pages"
Hi @acorbi ,

Topic pages currently  display the date the page was first published under the title:
![image](https://cloud.githubusercontent.com/assets/1206387/25577993/b195a968-2e94-11e7-99bd-5dc9bf0db51f.png)

For ODM, we would like to display the date the page was last updated here. Is this currently configurable? If not, could you suggest a way in which it could be implemented? Would it be rel

[2017-05-02 01:49] Huyeng opened #874 "Search content on profile page's spreadsheet"
It would be great if the result of the search content this url to the individual profile like the google:
https://pp.opendevelopmentcambodia.net/profiles/economic-land-concessions/?feature_id=elc_gdc_10

![screenshot_2](https://cloud.githubusercontent.com/assets/6613530/25522347/c663a044-2c2c-11e7-942a-a96314352e19.jpg)

[2017-05-02 01:50] Huyeng commented on #866
No problem. I commented here because I think that it is what Pyrou referred to.
Moved to issue: #874

[2017-05-02 03:16] Huyeng commented on #873
ODC team used to discuss about this whether the date under the Topics Title should be the created date or last updated date.  In Wordpress, if using the modified date as the last updated date, it is not correct because sometimes, the content is not updated, but unused some blank spaces or codes are removed or other settings are changed.

Since all the topic pages that ODC published has added the L

[2017-05-02 04:47] prustar commented on #873
@huyeng you have a point.

[2017-05-02 05:26] prustar commented on #867
@acorbi can't remember the exact terms we used that day but just did a quick search for ratanakiri and rattanakiri - difference of one letter and you get different results:

8 for only one t and 2 for double t - the fuzzy logic should actually bring up all these results so 10 in total potentially more. I gather however as these results are exact matches that's why it's doing this. In other applica

[2017-05-02 05:37] prustar commented on #834
@acorbi would be great to implement something now so we don't keep having this issue. The standardised metadata ISO 19115 exist already in other CKAN repositories - I wonder if we can just copy this:

Example should be here:
https://github.com/TerriaJS/nationalmap

or perhaps on the open government portal for the US or Canada.

[2017-05-02 06:46] gimmemochi commented on #647
Response from Try: (my comments are in bracket)
* With regard to the branding, ODC teams have decided to underline about ODC as a member of the Open Development Mekong instead of Open Development Initiative at the About page of ODC. So, we will update our About page soon. (@acorbi I'm asking Try to clarify wording. We suggested ODC is a member of "Open Development Network" not "Open Development Me

[2017-05-02 06:56] Huyeng commented on #834
@prustar you can add the layer https://d3ug57i5ee5hwd.cloudfront.net/lossyear/{z}/{x}/{y}.png as the Title Layer.  Please add some description into the content if you have.
For the second one, i don't think you can add it as it can be exported into only the image file.

[2017-05-02 08:06] acorbi commented on #874
Good idea @Huyeng . Actually we can index the individual profile items. I will take a look at how to do this asap.

[2017-05-02 08:17] acorbi commented on #647
our About page means here ODC, correct?

Disclaimer is consistent across all the sites. @gimmemochi once ODC provides a new suggestion, we should study whether to adopt it everywhere.

Please let me know if you have any suggestions. File attached.

Please indicate if you are taking over this task or need help from me or @DBishton

[2017-05-02 08:47] prustar commented on #834
@acorbi @Huyeng -- This is a feature layer (WMS) so I should be able to add it theoretically but when I look a the URL still not able to get the data -  http://www.arcgis.com/home/item.html?id=aeb3d84296b84e7d9d4ec025142a8c81#overview
http://services1.arcgis.com/RTK5Unh1Z71JKIiR/arcgis/rest/services/Coastal_Vulnerability_Myanmar_InVEST/FeatureServer

I can upload the layer and then manually input

[2017-05-02 09:04] acorbi commented on #867
For reference: http://stackoverflow.com/questions/9883151/solr-fuzzy-search-for-similar-words

[2017-05-02 09:05] acorbi commented on #873
@DBishton please coordinate with ODC to agree on a consistent way of providing creawtion and modification date on topic pages

[2017-05-02 19:22] #872 closed

[2017-05-02 19:54] acorbi commented on #874
The steps to complete are:
- [ ] Download CSV files for each profile both in EN and KM
- [ ] Write python script on http://github.com/OpenDevelopmentMekong/data which goes through the entries and indexes documents with following attributes: content, permalink, title, excerpt, id (?), country_site, blogdomain, odm_spatial_range, license_id, type (profile_item?), blogid, odm_language

[2017-05-02 19:54] acorbi commented on #874
Moving to https://github.com/OpenDevelopmentMekong/data/issues/13

[2017-05-02 19:54] #874 closed

[2017-05-02 20:34] acorbi opened #876 "Do not show parent category"
It is already displayed on the breadcrumbs

![screenshot from 2017-05-02 22-31-58](https://cloud.githubusercontent.com/assets/384894/25638000/35faa95e-2f87-11e7-956c-7bbcda9cc8f4.png)

[2017-05-02 20:51] #876 closed

[2017-05-02 21:03] acorbi opened #878 "Error on taxonomy widget when queried_post_type is set"
https://pp.opendevelopmentmekong.net/category/infrastructure/transport-and-shipping/?queried_post_type=library_record

https://pp.opendevelopmentmekong.net/category/ecological-services?queried_post_type=library_record

![screenshot from 2017-05-02 22-37-37](https://cloud.githubusercontent.com/assets/384894/25639261/87bb212a-2f8b-11e7-9f6c-312eed00ec77.png)

[2017-05-02 21:23] acorbi opened #879 "remove list style on related briefings"
https://pp.opendevelopmentmekong.net/category/land/

![screenshot from 2017-05-02 22-37-37](https://cloud.githubusercontent.com/assets/384894/25640025/52470dbc-2f8e-11e7-971d-3b92a6f7f0b2.png)

[2017-05-02 21:28] acorbi opened #880 "category page breadcrumbs do not correspond"
https://pp.opendevelopmentmekong.net/topics/land/

![screenshot from 2017-05-02 23-26-05](https://cloud.githubusercontent.com/assets/384894/25640138/c6f7bdaa-2f8e-11e7-9188-9d1470b0626a.png)

[2017-05-02 22:39] acorbi opened #882 "show icons on tabs on category page"
![screenshot from 2017-05-03 00-39-07](https://cloud.githubusercontent.com/assets/384894/25642254/f7a724f4-2f98-11e7-90c0-8db0924cf529.png)

[2017-05-03 08:18] #878 closed

[2017-05-03 09:28] acorbi opened #883 "limit long list of related briefings"
If the list of related briefings is long, it should be presented shortened.

Also, make sure the list of related briefings is retrieved appropiately.

![screenshot from 2017-05-03 11-18-13](https://cloud.githubusercontent.com/assets/384894/25654978/8b35e818-2ff3-11e7-9fa7-954906a03dd2.png)

[2017-05-03 09:34] acorbi opened #884 "Make highlighted topic more prominent"
- [ ] Increase font-size of topic
- [ ] Add more button

![screenshot from 2017-05-03 11-31-10](https://cloud.githubusercontent.com/assets/384894/25655114/0c712fe6-2ff4-11e7-9efe-1d00a71cdcd2.png)

[2017-05-03 10:10] #884 closed

[2017-05-03 10:10] #879 closed

[2017-05-03 10:13] acorbi opened #886 "Expand taxonomic widget on subtopic'scategory page per default"
On category pages for subtopics (example: https://pp.opendevelopmentmekong.net/category/land/public-land-lease/concessions-public-land-lease/economic-land-concessions/ ), the taxonomic widget should appear expanded per default to indicate the user in which part of the taxonomic tree it currently finds itself.

Current behaviour:

![screenshot from 2017-05-03 12-10-19](https://cloud.githubuserconte

[2017-05-03 10:34] DragonVirus opened #887 "Uniform style for accordion contents"
**Example**
https://pp.opendevelopmentmekong.net/why-become-a-data-contributor-to-open-development-mekong/
<img width="535" alt="screen shot 2017-05-03 at 5 02 34 pm" src="https://cloud.githubusercontent.com/assets/1311765/25657179/8bdcf732-3022-11e7-93fb-a37c6f663347.png">

[2017-05-03 11:10] #771 closed

[2017-05-03 11:22] gimmemochi opened #888 "Category page: Landing / topic pages non-clickable, Layers should be renamed"
@acorbi @DBishton  There are a few things:
* Suggestion: Add 'landing/topic page' title on top of the thumbnail, hyperlink it to the page
* Question: Does it only show the landing page? And other pages are show in **Related briefings**?
* Suggestion: Layers is an abstract term. Call it **Map layers** or **Maps**?
https://pp.opendevelopmentmekong.net/category/land?queried_post_type=laws_record

<im

[2017-05-03 11:45] acorbi commented on #888
hey @gimmemochi thanks for your suggestions, my comments below:

There was a title before but I removed it because it is duplicated with the page's title

It shows the corresponding landing page (briefing) if available. The **related briefings** would provide links to other **briefings** but now that you mention it, each category page should focus only on a single briefing and provide navigation p

[2017-05-03 12:07] acorbi opened #889 "Do not show html content, just excerpt on highlighted briefings on category pages"
https://pp.opendevelopmentmekong.net/category/energy/

![screenshot from 2017-05-03 14-05-19](https://cloud.githubusercontent.com/assets/384894/25659832/d73aa1b6-3009-11e7-9c48-2329e522e55d.png)

[2017-05-04 04:52] Huyeng opened #890 "The last update styling affect to some pages on ODC site"
On Homepage:
The line-height on News and Site update container is too large, it seems like the list item, not a sentence.
https://opendevelopmentcambodia.net/
https://opendevelopmentmekong.net/

On Profile page:
https://opendevelopmentcambodia.net/profiles/access-to-public-service/
Increasing line-space cause a lot of space between the map and its content below, please fix it.
![screenshot_5](http

[2017-05-04 05:45] Huyeng opened #891 "Geo tagged news on the map should be shown in Khmer Site"
Currently, the pop-up news on the map doesn't support in multiple language.
<img width="1246" alt="screenshot at may 04 12-44-13" src="https://cloud.githubusercontent.com/assets/6613530/25691681/7881e2c4-30c7-11e7-9682-47b9208d7767.png">

[2017-05-04 07:22] #890 closed

[2017-05-04 14:18] acorbi opened #894 "odm_excerpt function should not return HTML content, just plain text"
A post's excerpt should just contain plain text and no HTML elements. Otherwise this type of layout issues appear:

![screenshot from 2017-05-04 16-17-25](https://cloud.githubusercontent.com/assets/384894/25707920/45c68eca-30e5-11e7-830f-ee0ece80de65.png)

[2017-05-04 16:17] acorbi opened #895 "Harmonize font-weight on sidebars"
![screenshot from 2017-05-04 18-16-12](https://cloud.githubusercontent.com/assets/384894/25713715/f6980d68-30f5-11e7-9e9b-ef0f3b2f0e16.png)

[2017-05-04 21:18] #895 closed

[2017-05-05 04:36] DBishton opened #898 "ODM custom post widget displays no content"
Hi @acorbi ,

This is urgent -- ODM custom post widget is displaying no content. I suspect this is related to the recent change to allow overriding of order of posts. I chose a series of topics to override on the ODM custom post widget for Topics on the home page yesterday afternoon. This worked as anticipated (although order was not as expected, but I will raise a separate issue).

After adjustin

[2017-05-05 06:25] #898 closed

[2017-05-05 09:49] DBishton commented on #873
Thanks for the comments all.

@acorbi @Huyeng -- a suggested solution for the issue Huy Eng raised about updated date reflecting non-content relate changes (removing spaces, changing formatting) etc.

A checkbox allowing editors to reflect an update -- it is checked when content is updated, but not when other changes are made. @acorbi would this be a relatively straightforward implementation?

If

[2017-05-08 07:18] acorbi commented on #873
@DBishton @Huyeng My comments:

Although I understand what you say here @Huyeng, I think removing whitespaces or changing settings DOES mean that the post has been updated and it is even positive to reflect a more frequent set of changes on the front-end. In my opinion, this should not be the reason for not showing the updated date instead of the created date on the top of the posts.

Adding the l

[2017-05-08 07:46] DBishton commented on #873
Hi @acorbi,

Thank you for the careful consideration and this proposal. This works for me, my only question would be about display: text wrapping of categories in the case of longer category titles and more of them to list. Perhaps they could sit under the created and updated dates?

I agree with your points re: overcomplicating the editorial workflow and value of minor updates. It's fine for me i

[2017-05-08 08:10] acorbi commented on #867
@prustar I found out there is currently an issue with multi-term synonyms on the search engine we use. At this point, we can only maintain a list of single-term synonyms such as ratanakiri -> rattanakiri or rattannakiri, etc...

I have opened https://github.com/OpenDevelopmentMekong/wp-odm_solr/issues/48 in order to approach the multi-term issue

[2017-05-08 08:10] #867 closed

[2017-05-08 08:13] acorbi commented on #873
@DBishton the list of categories would wrap to the next line as it does now... it should not be an issue

[2017-05-08 09:34] acorbi commented on #503
@chaddleyb apologies for the inactivity around this issue. Have you had the change to try https://wordpress.org/plugins/iframely/ plugin as recommended above?

@davidmhill @DBishton Do you have any extra info to help @chaddleyb ?

[2017-05-08 10:02] Huyeng commented on #873
What will you get the last updated from, the modify date?

[2017-05-08 10:15] Huyeng commented on #873
It is ok if you would like to show like that. However, personally, it doesn't make scenes when using the modify date as the updated date of the content.

According to your template, there are two dates display under the title, is it what you expected to show?

[2017-05-08 10:36] Huyeng commented on #873
It is ok if you would like to show like that. However, personally, it doesn't make scenes when using the modify date as the updated date of the content.

According to your template, there are two dates display under the title, will it show both after implement or either one?

If you enable this configure, please set the created as default.
ODC won't enable the modified date because it will have di

[2017-05-08 13:01] acorbi commented on #873
@Huyeng I am proposing showing **both**, exactly as my mockup represents. Creation date and modification date, both in the same line below the title.

From your reply I get the sense that ODC would not agree with this change, is it like that? In this case I would implement the "configurable alternative". Please confirm

[2017-05-09 01:37] Huyeng commented on #873
As the case I mentioned above, it will make users be confuse with displaying the Created date, modified date and last updated date on a page together. No one understand clearly about the using icons sometimes.
Please create an option in the configuration of Open Development if they would like to display it on the topic page.

[2017-05-09 10:15] acorbi commented on #788
Fixed now since the new data page uses the same mechanisms as search

[2017-05-09 11:59] #873 closed

[2017-05-10 05:04] DBishton opened #908 "Custom post widget date display option"
Hi @acorbi ,

I am requesting the ability to display 'last updated' date rather than created date on thumbnails for custom post widgets:

![image](https://cloud.githubusercontent.com/assets/1206387/25883931/b34ae724-3578-11e7-9333-1f6961019f04.png)

This should ideally be an option as we can't assume all partners will want to do this

[2017-05-10 05:13] DBishton opened #909 "Custom post widget: behaviour of 'overriden' post ordering"
Hi @acorbi ,

Could you clarify the ordering behaviour for manually curated posts in the custom post widget? I would have thought this would reflect the order of slugs as entered, but this doesn't seem to be the case.

E.g. on ODM currently, this list of slugs:

aid-and-development-assistance, land, surface-water, the-mekong, government, disasters-and-emergency-response, law-and-judiciary, extract

[2017-05-10 06:40] acorbi commented on #908
Hi @DBishton that option is already available (since several months actually) as indicated on https://wiki.opendevelopmentmekong.net/partners:configuring_frontend_2_0#odm_custom_posts_widget_in_detail

closing

[2017-05-10 06:40] #908 closed

[2017-05-10 06:45] acorbi commented on #909
@DBishton thanks for raising this. In general lines I reckon this function can be a bit confusing at first sight. I believe needs better wording on the widget's configuration....

Correct, it orders the hand-picked items by the date specified on **Order by:** (creation date and modification date).

I will take a look at it today, should not be a problem.

[2017-05-10 06:48] acorbi commented on #891
Fixed via https://github.com/OpenDevelopmentMekong/wp-odm_theme/pull/907

[2017-05-10 06:48] #891 closed

[2017-05-10 07:00] DBishton commented on #909
Thanks @acorbi. I will test soon, if it is.possibleI to order by date
updated, with that date displayed, it may not be as critical to have exact
order as specified by slug - though I think that would be nice to have as
an option.

On 10 May 2017 1:45 PM, "Alex Corbi" <notifications@github.com> wrote:

[2017-05-10 07:26] acorbi commented on #909
@DBishton yes, I also think it could be interesting to be able to order by "selection", if the slugs are specified. let's keep an eye on it, if you identify the need sometime, we can implement it quickly.

[2017-05-10 08:18] acorbi opened #911 "Font inconsistency on ODMm title"
Font used on OpendevelopmentMyanmar's header logo is different to the one used on other sites:

![screenshot from 2017-05-10 10-19-12](https://cloud.githubusercontent.com/assets/384894/25889475/2877a55a-356a-11e7-992a-e7a7b39f154d.png)
![screenshot from 2017-05-10 10-01-57](https://cloud.githubusercontent.com/assets/384894/25889450/15084984-356a-11e7-816b-e5800e0219c2.png)
![screenshot from 2017-0

[2017-05-10 10:51] Huyeng commented on #909
What do you mean "ordering based on list of slugs"?

[2017-05-10 13:03] prustar opened #912 "Duplicate categories need to be removed"
@acorbi
![image](https://cloud.githubusercontent.com/assets/14996905/25899753/0c5c2754-35b7-11e7-836a-b94cdfd6543b.png)

The list of results is duplicated and the main page needs to be removed. It should display the first resource type list of results which is 'Datasets' and this should be highlighted. Note that when you do click on 'Dataset' it isn't highlighted.

![image](https://cloud.githubuse

[2017-05-10 16:08] acorbi commented on #912
moving to https://github.com/OpenDevelopmentMekong/wp-odm_solr/issues/54

[2017-05-10 16:08] #912 closed

[2017-05-11 05:23] prustar opened #913 "Data page category box"
@acorbi -- for consistency with the search would it be useful to also add the category breakdown box on the top right for users to be able to easily distinguish between the resource types? This is a question as that perhaps we need to test with users, as there is a filter option available but the nice thing about the box in the search is that it displays clearly the number of records found for tha

[2017-05-11 07:51] acorbi opened #914 "Create page template without title"
Needed to implement the requirements of the contribute data page:

![blob](https://cloud.githubusercontent.com/assets/384894/25938431/73d90500-362f-11e7-9093-64f060b62946.png)

[2017-05-11 08:04] #914 closed

[2017-05-11 09:06] acorbi commented on #913
@prustar agreed, will add to my todo list, it is a quick one

[2017-05-11 09:18] acorbi opened #917 "Make taxonomy selection single-valued"
Due to the fact that taxonomic terms selected by the user (top tier) need to be expanded to include their children for accurate and complete results, search algorithm needs to be conifgured with an OR logic. This contrasts with the AND logic applied on the other filters.

[2017-05-11 09:42] DBishton opened #918 "Prevent 'contact us' form rendering in iframes"
Currently the orange 'contact us' tab appears in iframes, duplicating its presence on pages:

![image](https://cloud.githubusercontent.com/assets/1206387/25943054/d124fca8-3668-11e7-9d5d-92d61f4dc5f3.png)

Please hide.

[2017-05-11 10:35] DBishton opened #919 "URL styling not rendering"
URL styling does not appear to be rendering on newly edited pages on ODM production. URLs appear as plain text (link still active) and other styling does not seem to render.

Please see examples at: https://opendevelopmentmekong.net/topics/aid-and-development-assistance/

![image](https://cloud.githubusercontent.com/assets/1206387/25945179/2c5072d6-3670-11e7-9488-6ba9a0ca441b.png)

In the above sc

[2017-05-11 11:05] Huyeng commented on #621
Here is printing map looks like when the print button on map is click:
Feature:
- Can add the title
- Can add the description

Things need to fix:
- Missing image and not supporting Khmer Unicode yet
![screenshot_11](https://cloud.githubusercontent.com/assets/6613530/25946165/2f44bb42-3674-11e7-8cee-13ed2bf8ded6.jpg)

Result after print:

![download_map 1](https://cloud.githubusercontent.com/asset

[2017-05-11 13:29] acorbi commented on #621
@Huyeng With this you mean the logo of the organization on the bottom-left corner of the produced result, correct?

[2017-05-11 14:00] acorbi commented on #621
Some addtional tasks after reviewing the implementation:

- [ ] Make the SAVEMAP_UPLOAD_DIR configurable under **Appearance > Open development**

[2017-05-12 08:15] prustar commented on #621
@Huyeng -- I like this. Having the OD logo would be nice as well.
I would also make the legend visible on the print which is something that is hard at the moment because the box is so small. Users need to scroll to be able to read the entire legend.

[2017-05-14 17:54] acorbi opened #920 "Consider "Date shown on single page template" setting also on archive pages"
The **Date shown on single page template** option found under **Appearance > Open development** should be extended so it affects the archive pages such as https://opendevelopmentmekong.net/topics.

![Uploading Screenshot from 2017-05-14 19-53-28.png…]()

![screenshot from 2017-05-14 19-45-52](https://cloud.githubusercontent.com/assets/384894/26036487/d3e3c15e-38de-11e7-955d-c2665352a5b9.png)

[2017-05-14 18:14] #920 closed

[2017-05-15 07:07] #919 closed

[2017-05-15 09:36] acorbi commented on #917
moving to https://github.com/OpenDevelopmentMekong/wp-odm_solr/issues/56

[2017-05-15 09:36] #917 closed

[2017-05-15 16:04] acorbi commented on #888
@gimmemochi see discussion on https://github.com/OpenDevelopmentMekong/jeo/issues/55

[2017-05-15 16:05] #888 closed

[2017-05-16 08:21] acorbi commented on #918
@DBishton im working on this now. just one comment at the moment, please ALWAYS add URLs to the pages where the Issue can be reproduced.

[2017-05-16 08:59] #918 closed

[2017-05-16 12:22] acorbi commented on #909
@Huyeng It means that editors would be able to define which posts are listed in which order. This would allow to not only define which posts appear, but also define **in which order** they appear.